<template>
  <div class="text-center">

    <img src="../assets/Group 753.png" class="mt-10">
    <h2> Admin Login </h2>
    <v-row no-gutters>
      <v-col>

      </v-col>
      <v-col>
        <v-text-field v-model="email" :rules="emailRules" label="Username" required></v-text-field>
        <v-text-field :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]"
          :type="show2 ? 'text' : 'password'" name="input-10-2" label="password" hint="At least 8 characters"
          value="" class="input-group--focused" @click:append="show2 = !show2"></v-text-field>
        <div class="my-2">

     
          <div v-on:click="navigate()">
            <h4 class="mt-4" style="cursor : pointer "> Login with OTP </h4> 
            <!--
                follow this link https://www.cursor.cc/?action=icon&file_id=96099 for cursor
                also sample downloaded in assets.
            -->
          </div>
          <div v-on:click="forgotpassword()">
            <p class="text--disabled mt-2" style="cursor : pointer ">Forgot Password?</p>
          </div>    
        </div> 
        <div div v-on:click="dash()">
        <v-btn color="success">Login</v-btn>
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

  </div>

</template>
<script>
  export default {
    data() {
      return {

        show2: true,


        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
      }
    },
    methods: {
      navigate() {
        this.$router.push('/otplogin')
      },
      forgotpassword() {
        this.$router.push('/fpasswordmsg')
      },
      dash() {
        this.$router.push('/dash')
      }
    }
  }
</script>