<template>
    <div>
        <h2 class="text-center mb-5 mt-10"> Application Programming Interface</h2>
  
        <div class="mx-8 my-7">
            <hr class="mx-10 mt-2">
            <template>
                 <v-data-table
                 :headers="headers"
                 :items="admins"
                 :search="search"
                 class="elevation-1 mx-11 px-8 py-4"
                >
                <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="success" dark class="mb-2" v-on="on" > <v-icon>mdi-plus</v-icon></v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                        <v-container>
                            <v-row>
                            <v-col cols="9">
                                <v-text-field v-model="editedItem.name" label="Sl no"></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field v-model="editedItem.adminid" label="Api"></v-text-field>
                            </v-col>
                            <v-col cols="6">
                              <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="editedItem.doj"
                                  transition="scale-transition" offset-y min-width="290px">
                                 
                               
                              </v-menu>
                            </v-col>
                           
                            </v-row>
                        </v-container>
                        </v-card-text>

                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-dialog>
                </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                    </template>
                    <template v-slot:no-data>
                    <v-btn color="success" @click="initialize">Reset</v-btn>
                </template>
                </v-data-table>
            </template>
        </div>
    </div>


</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      search: '',
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      headers: [
        { text: 'Sl No',align: 'start', value: 'name' , sortable: false, width: '35%'},
        { text: 'Api', value: 'adminid', sortable: false, width: '20%' },
        { text: 'Edit/Terminate', value: 'actions', sortable: false },
      ],
      admins: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        adminid: '',
  
      },
      defaultItem: {
        name: '',
        adminid: '',
   
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.admins = [
          {
            name: 'Gokul',
            adminid: 'KL-17SDA156209',
            doj: '2019-06-01',
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.admins.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.admins.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.admins.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.admins[this.editedIndex], this.editedItem)
        } else {
          this.admins.push(this.editedItem)
        }
        this.close()
        // eslint-disable-next-line no-console
        console.log(this.editedItem);
        
      },
      navigate() {
        this.$router.push('/createadmin')
      }
    },
  }
</script>