<template>
    <div>
        <h1 class="text-center mt-5">Authenticator</h1>
        <div>
            <v-card class="mx-10 mt-10">
                <v-container>                   
                        <h2 class="text-center">40345</h2>     
                </v-container>
            </v-card>
             <v-card class="mx-10 mt-10">
                <v-container>                   
                        <h2 class="text-center">40345</h2>     
                </v-container>
            </v-card>

        </div>
    </div>
</template>