<template>
<div>
  <!-- date picker -->
  <v-row    justify="center">
    <v-date-picker dark v-model="picker"></v-date-picker>
  </v-row>
<!-- time picker -->
   <v-row justify="center mt-5">
    <v-time-picker v-model="tpicker"></v-time-picker>
  </v-row>
<!-- modal -->
   <div class="text-center mt-5 " >
    <v-dialog

      v-model="dialog"
      width="900"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="red lighten-1"
          dark
          v-on="on"
        >
          Click Me
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Privacy Policy
        </v-card-title>

        <v-card-text>
          Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sint eveniet accusamus repellat exercitationem quasi et corporis ratione
           illo dolorem 
                      illo dolorem necessitatibus, voluptas facilis odit, sequi minus neque quibusdam commodi qui. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
necessitatibus, voluptas facilis odit, sequi minus neque quibusdam commodi qui. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            I accept
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</div>


</template>

<script>
  export default {
    data () {
      return {
        picker: new Date().toISOString().substr(0, 10),
         tpicker: null,
          dialog: false,
      }
       
    },
  }
</script>

<style >
.mt-5{
  margin-top: 50px;
}


</style>