<template>
    <div class="text-center mt-10">

        
        <h2> Change Password </h2>
         <v-row no-gutters>
            <v-col>
      
            </v-col>
            <v-col>
                    <v-text-field v-model="email" :rules="emailRules" label="Enter old password" required class="mt-10"></v-text-field>
 <v-text-field
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
 
            :type="show2 ? 'text' : 'password'"
            name="input-10-2"
            label="Enter new password"
            hint="At least 8 characters"
            value=""
            class="input-group--focused"
            @click:append="show2 = !show2"
          ></v-text-field>                    
          <v-text-field
           
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
        
            :type="show2 ? 'text' : 'password'"
            name="input-10-2"
            label="Confirm new password"
            hint="At least 8 characters"
            value=""
            class="input-group--focused"
            @click:append="show2 = !show2"
          ></v-text-field>
          <!-- <v-text-field
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show2 ? 'text' : 'password'"
            name="input-10-2"
            label="Visible"
            hint="At least 8 characters"
            value="wqfasds"
            class="input-group--focused"
            @click:append="show2 = !show2"
          ></v-text-field> -->
                      <div class="my-2">
        <v-btn color="success mt-5">Change password</v-btn>


      </div>
            </v-col>
               <v-col>
       
            </v-col>
        </v-row>

    </div>

</template>
<script>
  export default {
    data () {
      return {
      
        show2: true,
 
     
        password: 'Password',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        },
      }
    },
  }
</script>

