<template>
    <div>
        <h2 class="text-center mb-5 mt-10"> Promo Code</h2>
        <div class=" mx-10">
            <div v-on:click="createcoupon()">
                <v-btn class="mx-2 mb-3" fab dark color="green">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </div>
            <!-- <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sl No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Remove</th>

                    </tr>
                </thead>
                <tbody class="mt-5">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td> Nihil tempore distinctio eveniet quae.
                            od</td>
                        <td>@mdo</td>
                        <td>24/03/19</td>
                        <td><img src="../assets/pen-solid.svg" alt="" class="siz">
                        </td>
                        <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Otto</td>
                        <td>Loremsunt ulpa a neque necessitatibus?</td>
                        <td>@mdo</td>
                        <td>24/03/19</td>
                        <td><img src="../assets/pen-solid.svg" alt="" class="siz"></td>
                        <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mike</td>
                        <td>Lorem ipsum ore decessitatibus?</td>
                        <td>@mdo</td>
                        <td>24/03/19</td>
                        <td><img src="../assets/pen-solid.svg" alt="" class="siz"></td>
                        <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                    </tr>

                </tbody>

            </table> -->
        </div>
        <template class=" mx-10">
            <v-card class="mx-10 px-7 pb-5">
                <v-card-title>
                    
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details>
                    </v-text-field>
                </v-card-title>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>

                        </tr>
                    </thead>
                    <tbody class="mt-5">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td> Nihil tempore distinctio eveniet quae.
                                od</td>
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td>
                                <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div>
                            </td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Otto</td>
                            <td>Loremsunt ulpa a neque necessitatibus?</td>
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td> <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div></td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike</td>
                            <td>Lorem ipsum ore decessitatibus?</td>
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td> <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div></td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>

                    </tbody>

                </table>
            </v-card>
        </template>
    </div>


</template>

<style>
    .siz {
        width: 20px;
        margin-left: 5px;
    }
</style>

<script>
    import axios from 'axios';
    // import url from '../App.vue';
    export default {
        props : {
        invoice : {},
        // url : url
        },

        methods: {
            createcoupon() {
                this.$router.push('/createcoupon')
            },
            editcoupon() {
                this.$router.push('/editcoupon')
            },
            getInvoice() {
                // eslint-disable-next-line no-console
                console.log('request sent');
                
                axios.get("http://127.0.0.1:8000/invoice/in")
                // eslint-disable-next-line no-console
                .then(res =>{
                this.invoice=res.data[0];
                // eslint-disable-next-line no-console
                console.log(this.invoice);
                })
                // eslint-disable-next-line no-console
                .catch(err => console.log(err));
            },
        },
        created(){
            this.getInvoice();
        }
    }
</script>