
<template>
    <div>
        <h3 class="text-center ml-10 mt-10">Create User Account</h3>
        <hr class="mx-10 mt-2">
        <v-form v-model="valid" class="mb-6">
            <b-row class="mt-0 mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>First Name :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="fname"
                        :counter="25"
                        :rules="nameRules"
                        required 
                        placeholder="Your first name"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mt-0 mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Last Name :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="lname"
                        :counter="25"
                        :rules="nameRules"
                        required 
                        placeholder="Your last name"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Country code :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-select
                        v-model="select"
                        :items="items"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        placeholder="--Select--"
                    ></v-select>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Phone Number :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="phone"
                        :rules="phoneRules"
                        required 
                        placeholder="Your phone number"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Email :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        required placeholder="Your email address"
                    ></v-text-field>
                </b-col>
            </b-row>
           <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Password :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                            v-model="password1"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            placeholder="Your password"
                            hint="At least 8 characters"
                            counter
                            @click:append="show1 = !show1"
                        ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Confirm Password :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                            v-model="password"
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            placeholder="Retype your password"
                            hint="At least 8 characters"
                            counter
                            @click:append="show1 = !show1"
                        ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mt-6 mx-2 mb-5">
                <b-col class="p-0 m-0 mt-3 ml-2" cols="4"></b-col>
                <b-col class="p-0 m-0 ml-3">
                      <b-button block variant="success" class="w-50" v-on:click="submit">GENERATE ACCOUNT</b-button>
                </b-col>
            </b-row>
           <a class="text-style">Have an account? Sign Up now</a>
        </v-form>
    </div>
</template>

<script>
export default {
    data: () => ({
        valid: true,
        fname: '',
        lname: '',
        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 25) || 'Name must be less than 25 characters',
        ],
        
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        phone: '',
        phoneRules: [
            v => !!v || 'Phone number is required',
        ],
        select: null,
        items: [
            'Item 1',
            'Item 2',
            'Item 3',
            'Item 4',
        ],
        show1: false,
      show2: false,
        password: '',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
    }),

    methods : {
        submit(){
            // eslint-disable-next-line no-console
            console.log(this.$data)
            
        }
    }
}
</script>
<style>
     .text-style{
        color: black !important;
        margin: 1% 0 0 42%;
    }

</style>

