<template>

    <v-container>
        <h1 class="text-center mt-5">Create a call center staff account</h1>
        <v-row no-gutters>
            <v-col class="mt-5" cols="4">
                <div class="pa-2 ml-5" outlined tile>


                    <h3 class="mt-5">Name</h3>
                    <h3 class="mt-10"> Date of birth</h3>
                    <h3 class="mt-10">Photo</h3>
                    <h3 class="mt-10">Adress</h3>
                    <h3 class="mart">Email</h3>
                    <h3 class="mt-10">Phone No</h3>
                    <h3 class="mt-10">Nationality</h3>
                    <h3 class="mt-10">Upload govt valid ID</h3>
                    <h3 class="mt-10">Enter Id No</h3>
                    <h3 class="mt-10">Attach Tax ID</h3>
                    <h3 class="mt-10">Enter Tax No</h3>
                    <h3 class="mt-10">Any other details</h3>
                </div>
            </v-col>
            <v-col class="mt-5">
                <div class="pa-2 mr-3" outlined tile>

                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name" required>
                    </v-text-field>

                    <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="date"
                        transition="scale-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on }">
                            <v-text-field v-model="date" label="Picker in menu" readonly v-on="on"></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                    <v-file-input multiple label="File input"></v-file-input>
                    <v-textarea class="mt-7" outlined name="input-7-4" label="Enter Address"
                        value="">
                    </v-textarea>


                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Email" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Phone No" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Nationality"
                        required></v-text-field>
                     <v-file-input multiple label="File input"></v-file-input>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter Id No" required>
                    </v-text-field>
                      <v-file-input multiple label="File input"></v-file-input>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter Tax No" required></v-text-field>
                 <v-file-input multiple label="File input"></v-file-input>
                </div>
            </v-col>
        </v-row>
       <div>
    <div class="text-center mb-4">
      <v-btn
        color="primary"
        @click="alert = !alert"
      >
        Create
      </v-btn>
    </div>
    <v-alert
      :value="alert"
      color="teal"
       icon="mdi-shield-lock-outline"
      prominent
      text
     
      transition="scale-transition"
    >
      <h2 class="text-center">Account Successfully Generated</h2>
      <h3 class="text-center">Username : qwerty</h3>
            <h3 class="text-center">Password : qwerty</h3>
    </v-alert>
  </div>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            date: new Date().toISOString().substr(0, 10),
            menu: false,
            modal: false,
            menu2: false,
                    alert: false,

        }),
    }
</script>

<style>
    .mart {
        margin-top: 160px;
    }
</style>