
<template>
    <div>
        <h3 class="text-center ml-10 mt-10">CREATE ADMIN ACCOUNT</h3>
        <hr class="mx-10 mt-2">
        <v-form v-model="valid">
            <b-row class="mt-0 mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Name :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="name"
                        :counter="25"
                        :rules="nameRules"
                        required 
                        placeholder="Enter name"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-2">
                <b-col class="p-0 m-0 mt-5 ml-2 text-right" cols="4"><h5>Date of birth :</h5></b-col>
                <b-col class="p-0 m-0 ml-6" cols="5">
                     <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="date"
                        transition="scale-transition" offset-y min-width="290px">
                        <template v-slot:activator="{ on }">
                            <v-text-field v-model="date" label="Picker in menu" readonly v-on="on"></v-text-field>
                        </template>
                        <v-date-picker v-model="date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                        </v-date-picker>
                    </v-menu>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-2">
                <b-col class="p-0 m-0 ml-2 text-right mt-3" cols="4"><h5>Photo :</h5></b-col>
                <b-col class="p-0 m-0 ml-3" cols="5">
                     <v-file-input multiple label="File input" class="pt-0"></v-file-input>
                </b-col>
            </b-row>
            <b-row class="mt-6 mx-2 mb-0">
                <b-col class="p-0 m-0 mt-3 ml-2 text-right" cols="4"><h5>Address :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                     <v-textarea
                    outlined
                    name="input-7-4"
                    placeholder="Enter your address"
                    rows="3"
                    ></v-textarea>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Email :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        required placeholder="example@xyz.com"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2 mt-0">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Phone Number :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="phone"
                        :rules="phoneRules"
                        required 
                        placeholder="Enter contact number"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Nationality :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-select
                        v-model="select"
                        :items="items"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        placeholder="--Select--"
                    ></v-select>
                </b-col>
            </b-row>
            <b-row class="mt-4 mx-2">
                <b-col class="p-0 m-0 mt-3 ml-2 text-right" cols="4"><h5>Upload Govt. Valid ID :</h5></b-col>
                <b-col class="p-0 m-0 ml-3" cols="5">
                     <v-file-input multiple label="File input" class="pt-0" required></v-file-input>
                </b-col>
            </b-row>
            <b-row class="mt-1 mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>ID number :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="idno"
                        :rules="idnoRules"
                        required 
                        placeholder="Enter ID number"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mt-4 mx-2">
                <b-col class="p-0 m-0 mt-3 ml-2 text-right" cols="4"><h5>Attach Tax ID :</h5></b-col>
                <b-col class="p-0 m-0 ml-3" cols="5">
                     <v-file-input multiple label="File input" class="pt-0"></v-file-input>
                </b-col>
            </b-row>
            <b-row class="mt-0 mx-2">
                <b-col class="p-0 m-0 mt-6 ml-2 text-right" cols="4"><h5>Tax Number :</h5></b-col>
                <b-col class="p-0 m-0 ml-5" cols="5">
                    <v-text-field
                        v-model="taxno"
                        :rules="taxnoRules"
                        required 
                        placeholder="Enter tax number"
                    ></v-text-field>
                </b-col>
            </b-row>
            <b-row class="mt-3 mx-2">
                <b-col class="p-0 m-0 mt-3 ml-2 text-right" cols="4"><h5>Any other details :</h5></b-col>
                <b-col class="p-0 m-0 ml-3" cols="5">
                     <v-file-input multiple label="File input" class="pt-0"></v-file-input>
                </b-col>
            </b-row>
            <b-row class="mt-6 mx-2 mb-8">
                <b-col class="p-0 m-0 mt-3 ml-2" cols="4"></b-col>
                <b-col class="p-0 m-0 ml-3">
                      <b-button block variant="success" class="w-50" v-on:click="submit">GENERATE ACCOUNT</b-button>
                </b-col>
            </b-row>
           
        </v-form>
    </div>
</template>

<script>
export default {
    data: () => ({
        valid: true,
        name: '',
        nameRules: [
            v => !!v || 'Name is required',
            v => (v && v.length <= 25) || 'Name must be less than 25 characters',
        ],
        date: new Date().toISOString().substr(0, 10),
        menu: false,
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        phone: '',
        phoneRules: [
            v => !!v || 'Phone number is required',
        ],
        select: null,
        items: [
            'Item 1',
            'Item 2',
            'Item 3',
            'Item 4',
        ],
        idno: '',
        idnoRules: [
            v => !!v || 'ID number is required',
        ],
        taxno: '',
        taxnoRules: [
            v => !!v || 'Tax number is required',
        ],
    }),

    methods : {
        submit(){
            // eslint-disable-next-line no-console
            console.log(this.$data)
            
        }
    }
}
</script>

