<template>
   
        <div width="400" class="mx-auto wid">
            <v-container>
                <v-row>
                    <v-col cols="6">
                        <v-card color="success" dark>
                            <v-card-title class="headline">OD Pages</v-card-title>

                            <v-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisint eveniet, aspernatur
                                maiores,
                                numquam a?
                                .</v-card-subtitle>
                            <div div v-on:click="dash1()">
                                <v-card-actions>
                                    <v-btn text>Take a Look</v-btn>
                                </v-card-actions>
                            </div>
                        </v-card>
                    </v-col>

                    <v-col cols="6">
                        <v-card color="#385F73" dark>
                            <v-card-title class="headline">Components</v-card-title>

                            <v-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisint eveniet, aspernatur
                                maiores,
                                numquam a?
                                .</v-card-subtitle>
                            <div div v-on:click="dash2()">
                                <v-card-actions>
                                    <v-btn text>Take a Look</v-btn>
                                </v-card-actions>
                            </div>
                        </v-card>


                    </v-col>
                    <v-col cols="6">
                        <v-card color="#1F7087" dark>
                            <v-card-title class="headline">Translation<br> Pages</v-card-title>

                            <v-card-subtitle>Listen to your favorite artists and albums whenever and wherever, online
                                and
                                offline.</v-card-subtitle>
                            <div div v-on:click="dash3()">
                                <v-card-actions>
                                    <v-btn text>Take a Look</v-btn>
                                </v-card-actions>
                            </div>
                        </v-card>

                    </v-col>
                    <v-col cols="6">
                        <v-card color="#952175" dark>
                            <v-card-title class="headline">Error Pages</v-card-title>

                            <v-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisint eveniet, aspernatur
                                maiores,
                                numquam a?
                                .</v-card-subtitle>
                            <div div v-on:click="dash4()">
                                <v-card-actions>
                                    <v-btn text>Take a Look</v-btn>
                                </v-card-actions>
                            </div>
                        </v-card>


                    </v-col>


                </v-row>
            </v-container>
        </div>
</template>

<script>
    export default {
        data: () => ({
            items: [{
                    color: '#1F7087',
                    title: 'Supermodel',
                    artist: 'Foster the People',
                },
                {
                    color: '#952175',
                    title: 'Halcyon Days',
                    artist: 'Ellie Goulding',
                },
            ],
        }),
        methods: {
            dash1() {
                this.$router.push('/createadmin')
            },
            dash2() {
                this.$router.push('/home')
            },
            dash3() {
                this.$router.push('/pg9')
            },
            dash4() {
                this.$router.push('/error400')
            },

        }
    }
</script>

<style>
    .wid {
        width: 400px;
    }
</style>