<template>
  <v-container id="dropdown-example">
    <v-row>
      <v-col cols="12" sm="4">
        <p>Overflow</p>

        <v-overflow-btn class="my-2" :items="dropdown_font" label="Overflow Btn" target="#dropdown-example">
        </v-overflow-btn>
      </v-col>

      <v-col cols="12" sm="4">
        <p>Segmented</p>

        <v-overflow-btn class="my-2" :items="dropdown_icon" label="Segmented Btn" segmented target="#dropdown-example">
        </v-overflow-btn>
      </v-col>

      <v-col cols="12" sm="4">
        <p>Editable</p>

        <v-overflow-btn class="my-2" :items="dropdown_edit" label="Editable Btn" editable item-value="text">
        </v-overflow-btn>
      </v-col>
    </v-row>
  </v-container>
</template>