<template>
    <v-container>
        <v-navigation-drawer v-model="drawerRight" app clipped right>
            <v-list dense>
                <v-list-item @click.stop="right = !right">
                    <!-- <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action> -->
                    <v-list-item-content>

                        <img src="../assets/c.png" class="prof mt-5">
                        <h4 class="text-center mt-5">Edit Coupon</h4>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <h2 class="mb-3 text-center">Edit Coupon</h2>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>


                    <h3 class="mt-5">Name (coupon code)</h3>
                    <h3 class="mt-10">Description</h3>
                    <h3 class="mt-10">Type</h3>
                    <h3 class="mt-11">Amount / %</h3>
                    <h3 class="mt-11">Free shipment</h3>
                    <h3 class="mt-11">Restriction</h3>
                    <h3 class="mt-11">Min amount</h3>
                    <h3 class="mt-11">Max amount</h3>
                    <h3 class="mt-11">Is this coupon applicable only once</h3>
                    <h3 class="mt-11">Category</h3>
                    <h3 class="mt-11">Product services</h3>
                    <h2 class="mt-11">Usage Limit</h2>
                                      <h3 class="mt-11">Usage per coupon</h3>
                    <h3 class="mt-11">Usage to item</h3>
                    <h3 class="mt-11">Usage per user</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>

                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Name (coupon code)" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Description" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Amount / %" required>
                    </v-text-field>
                    <v-checkbox v-model="ex4" label="successs" color="success" value="yes" hide-details></v-checkbox>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Restriction" required
                        class="mt-6">
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Min amount" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="  Max amount" required>
                    </v-text-field>
                    <v-checkbox v-model="ex4" label="success" color="success" value="success" hide-details></v-checkbox>
 <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Category" required  class="mt-6"></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Product services" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Usage per coupon" class="mar" required>
                    </v-text-field>
                  <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Usage to item" required>
                    </v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Usage per user" required>
                    </v-text-field>
                </div>
            </v-col>
        </v-row>
        <div class="my-2">
            <v-btn large color="teal accent-3">Submit</v-btn>
        </div>
    </v-container>
</template>
<style>
    .prof {
        width: 100%;
    }

    .mar{
        margin-top:100px;
    }
</style>

<script>
    export default {
        data() {
            return {
                ex4: ['red', 'indigo', 'orange', 'primary', 'secondary', 'success', 'info', 'warning', 'error',
                    'red darken-3', 'indigo darken-3', 'orange darken-3'
                ],
            }
        },
    }
</script>