<template>
    <div class="h-100">
        <div class="topm">
            <v-card class="mx-auto text-center " max-width="600">
                <v-card-text>
                    <h3>
                       Please verify your email
                    </h3>
                    <p class="mt-5">We sent an email to<br> <b>yourmailadress@gmail.com</b></p>
                    <div class="text--primary">
                       Just click on the link in that email to complete your signup.<br>
                       
                    </div> 
                    <div class="text--primary mt-5">
                    still can't find the email?<br>
                       
                    </div>
                    <div class="my-2">
        <v-btn small color="primary">Resend Email</v-btn>
      </div>
                    
                </v-card-text>
                
            </v-card>
        </div>
    </div>
</template>
<style >
.topm{
    margin-top: 150px;
}
</style>