<template>

    <v-container >
      
<img src="../assets/502.png" class="imgs">
        <h1 class="text-center mt-5">SERVICE TEMPLATE OVERLOADED</h1>
        <h2 class="text-center">WHOOPS,_____ IS TAKING TOO MHCH TIME TO RESPOND</h2>
   <h3 class="text-center">Try refreshing / going back & trying again</h3>
   <h5 class="text-center text--disabled">Please contact service provider if the problem persists</h5>
    </v-container>

</template>

<style>
.imgs{
    height: 320px;
    margin-left: 300px;
}
</style>