<template>

    <div>
        <div class="text-center">
            <h2 class="mt-5 mb-2">Feedback Form</h2>
            <img src="../assets/hums66.jpg" class="profs mt-4 mb-3" height="185">
            <v-row  md="10" class="text">
                <v-textarea class="mx-10 mt-3" outlined name="input-7-4" label="Comment">
                </v-textarea>
            </v-row>
            <v-row>
                <v-col cols="4"></v-col>
                <v-col cols="4">
                    <v-rating v-model="rating" background-color="green lighten-3" class="pos" color="green"></v-rating>
                    <v-btn class="ma-2 pos"  tile color="green"  dark>Submit</v-btn>
                </v-col>
                <v-col cols="4"> </v-col>
            </v-row>
        </div>

        <v-navigation-drawer v-model="drawerRight" app clipped right>
            <v-list dense>
                <v-list-item @click.stop="right = !right">
                    <!-- <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action> -->
                    <v-list-item-content>

                        <img src="../assets/hum.jpeg" class="prof mt-5">
                        <h4 class="text-center mt-5">Vrinda Vinod</h4>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>

</template>

<style>
    .prof {
        width: 100px;
        border-radius: 15px;
    }

    .profs {
        width: 135px;
    }

    .text {
        margin: 0 auto;
    }

    .pos{
        position: relative;
        bottom:23px;
    }
</style>