<template>
    <div class="text-center">

        <img src="../assets/Group 753.png" class="mt-10">
        <h2>Forgot Password </h2>
         <v-row no-gutters>
            <v-col>
      
            </v-col>
            <v-col>
                    <v-text-field v-model="email" :rules="emailRules" label="New Password" required></v-text-field>
                     <v-text-field v-model="Password" :rules="emailRules" label="Confirm New Password" required></v-text-field>
                     <div class="my-2">
        <v-btn color="success">Change Password</v-btn>
        
      </div>
            </v-col>
               <v-col>
       
            </v-col>
        </v-row>

    </div>

</template>