<template>
    <div>
        <v-row no-gutters>
            <v-col><v-btn class="mx-2 mb-3 " fab dark color="green" v-on:click="addForm()">
                        <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                <form>
                    
                    <v-card class="mtop mb-5 mx-10" v-for="(dataType, counter) in dataTypes" v-bind:key="counter" >
                        <b-button size="sm" variant="danger" class="mb-2"  v-on:click="deleteForm(counter)" >
                            <b-icon icon="x" variant="light"></b-icon>
                        </b-button>
                        <v-container>

                            <!-- <p><b>{{ counter+1 }}) This is a Question tht needs to be answeres</b></p> -->
                            <p>Choose the type of answer </p>
                            <h6>Select from below</h6>
                            <v-container id="dropdown-example">
                                <v-row>
                                    <v-col cols="1">
                                        <div style="width:200px;">
                                        <select text="Select" class="form-control" v-model="dataType.inputType" @change="onChange($event)">
                                            <option class="opt" value="" disabled>select</option>
                                            <option value="1">Text AREA</option>
                                            <option value="2">Small input</option>
                                            <option value="3">File input</option>
                                            <option value="4">Checkbox Tree</option>
                                        </select>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-container>
                        <v-col cols="12">
                        <v-card class="" v-if="dataType.inputType==1" >
                            <v-container>
                                <h6> {{ counter+1 }}) Enter a question</h6>
                                <v-text-field label="Question" outlined ></v-text-field>
                                <h6>Answer</h6>
                                <v-textarea filled name="input-7-4" label=" Textarea" value="Enter your answer" v-model="dataType.textar">
                                </v-textarea>
                            </v-container>
                        </v-card>
                        <v-card class="mb-5 " v-if="dataType.inputType==2">
                            <v-container>
                                <h6> {{ counter+1 }}) Enter a question</h6>
                                <v-text-field label="Question" outlined></v-text-field>
                                <h6>Answer</h6>
                                <b-form-input id="input-large" size="lg" placeholder="Enter your name" v-model="dataType.sminp"></b-form-input>                        
                            </v-container>
                        </v-card>
                        <v-card class="mb-5 " v-if="dataType.inputType==3" >
                            <v-container>
                                <h6>Enter a question</h6>
                                <v-text-field label="Question" outlined></v-text-field>
                                <h6>Answer</h6>
                                <v-image-input v-model="imageData" :image-quality="0.85" clearable image-format="jpeg" />
                            </v-container>
                        </v-card>
                        <v-card class=" mb-5" v-if="dataType.inputType==4">
                            <v-container>

                                <p><b>This is a Question tht needs to be answeres</b></p>
                                <h6>Answer</h6>
                                <v-treeview selectable selected-color="red" :items="items" v-model="dataType.tree"></v-treeview>
                            </v-container>
                        </v-card>
                        </v-col>
                    </v-card> 
                    <div class="my-2">
        <v-btn large color="success mr-10">Submit</v-btn>
      </div>
                      
                </form>
            </v-col>
        </v-row>
    </div>

</template>

<style >
.mt{
    margin-top: 60px;
}
button{
  float: right;
  cursor: pointer;
  padding: 4px;
  margin: 8px;
}
.opt{
    color: rgba(58, 116, 4, 0.746);
}

.mtop{
    margin-top: 100px;
}


</style>

<script>
/* eslint-disable no-console */

export default {
    data() {
        return {
            dataTypes:[
                {   
                    inputType:'',
                    textar:'',
                    sminp:'',
                    ImageData:'',
                    tree:'',

                }
            ],
            
            items: [{
                    id: 1,
                    name: 'Applications :',
                    children: [{
                            id: 2,
                            name: 'Calendar : app'
                        },
                        {
                            id: 3,
                            name: 'Chrome : app'
                        },
                        {
                            id: 4,
                            name: 'Webstorm : app'
                        },
                    ],
                },
                {
                    id: 5,
                    name: 'Documents :',
                    children: [{
                            id: 6,
                            name: 'vuetify :',
                            children: [{
                                id: 7,
                                name: 'src :',
                                children: [{
                                        id: 8,
                                        name: 'index : ts'
                                    },
                                    {
                                        id: 9,
                                        name: 'bootstrap : ts'
                                    },
                                ],
                            }, ],
                        },
                        {
                            id: 10,
                            name: 'material2 :',
                            children: [{
                                id: 11,
                                name: 'src :',
                                children: [{
                                        id: 12,
                                        name: 'v-btn : ts'
                                    },
                                    {
                                        id: 13,
                                        name: 'v-card : ts'
                                    },
                                    {
                                        id: 14,
                                        name: 'v-window : ts'
                                    },
                                ],
                            }, ],
                        },
                    ],
                },
                {
                    id: 15,
                    name: 'Downloads :',
                    children: [{
                            id: 16,
                            name: 'October : pdf'
                        },
                        {
                            id: 17,
                            name: 'November : pdf'
                        },
                        {
                            id: 18,
                            name: 'Tutorial : html'
                        },
                    ],
                },
                {
                    id: 19,
                    name: 'Videos :',
                    children: [{
                            id: 20,
                            name: 'Tutorials :',
                            children: [{
                                    id: 21,
                                    name: 'Basic layouts : mp4'
                                },
                                {
                                    id: 22,
                                    name: 'Advanced techniques : mp4'
                                },
                                {
                                    id: 23,
                                    name: 'All about app : dir'
                                },
                            ],
                        },
                        {
                            id: 24,
                            name: 'Intro : mov'
                        },
                        {
                            id: 25,
                            name: 'Conference introduction : avi'
                        },
                    ],
                },
            ],
        }
    },

    methods: {
        addForm(){
            this.dataTypes.push({
               inputType: '',
                textar:'',
                sminp:'',
                ImageData:'',
                tree:'',

            })
        },
        deleteForm(counter){
                this.dataTypes.splice(counter,1);
        }
    }
}
</script>
