<template>
    <div>
        <v-row no-gutters>
            <v-col>
                <v-card class="mt-7 mx-10">
                    <v-container>
                        <h6>Enter a question</h6>
                        <v-text-field label="Question" outlined></v-text-field>
                        <h6>Answer</h6>
                        <v-textarea filled name="input-7-4" label=" Textarea" value="Enter your answer">
                        </v-textarea>
                    </v-container>
                </v-card>
                <v-card class="mt-7 mb-5 mx-10">
                    <v-container>
                        <h6>Enter a question</h6>
                        <v-text-field label="Question" outlined></v-text-field>
                        <h6>Answer</h6>
                        <v-treeview selectable selected-color="red" :items="items"></v-treeview>
                    </v-container>
                </v-card>
                <v-card class="mt-7 mb-5 mx-10">
                    <v-container>
                        <h6>Enter a question</h6>
                        <v-text-field label="Question" outlined></v-text-field>
                        <h6>Answer</h6>
                        <template>
                        <v-file-input
                            label="Upload image"
                            prepend-icon="mdi-camera"
                        ></v-file-input>
                        </template>
                    </v-container>
                </v-card>
                <v-card class="mt-7 mb-5 mx-10">
                    <v-container>
                        <h6>Enter a question</h6>
                        <v-text-field label="Question" outlined></v-text-field>
                        <h6>Answer</h6>
                        <v-container id="dropdown-example">
                            <v-row>
                                <v-col cols="12" sm="12">
                        

                                    <v-overflow-btn class="my-2" :items="dropdown_font" label="Overflow Btn"
                                        target="#dropdown-example"></v-overflow-btn>
                                </v-col>


                            </v-row>
                        </v-container>
                    </v-container>
                </v-card>
            </v-col>
            <v-col>
                <v-card class="mt-7 mx-10">
                    <v-container>

                        <p><b>This is a Question tht needs to be answeres</b></p>
                        <h6>Answer</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iure nulla culpa quidem
                            quam illo quos architecto repellendus,
                            ipsam modi esse magnam ipsa possimus. Ullam, facere libero? Cumque, magni necessitatibus.
                        </p>
                    </v-container>
                </v-card>
                <v-card class="mt  mb-5 mx-10">
                    <v-container>

                        <p><b>This is a Question tht needs to be answeres</b></p>
                        <h6>Answer</h6>
                        <v-treeview selectable selected-color="red" :items="items"></v-treeview>
                    </v-container>
                </v-card>
                <v-card class="mt-10 mb-5 mx-10">
                    <v-container>

                        <p><b>This is a Question tht needs to be answeres</b></p>
                        <h6>Answer</h6>
                        <img src="../assets/hums66.jpg" alt="" srcset="" height="300px">
                    </v-container>
                </v-card>
                <v-card class="mt-10 mb-5 mx-10">
                    <v-container>

                        <p><b>This is a Question tht needs to be answeres</b></p>
                        <h6>Answer</h6>
                        <v-container id="dropdown-example">
                            <v-row>
                                <v-col cols="12" sm="12">
                        

                                    <v-overflow-btn class="my-2" :items="dropdown_font" label="Overflow Btn"
                                        target="#dropdown-example">
                                        <p>aszxdfghjk</p>
                                        </v-overflow-btn>
                                </v-col>


                            </v-row>
                        </v-container>
                    </v-container>
                </v-card>

            </v-col>
            <v-col>

            </v-col>

        </v-row>

    </div>


</template>

<style >
.mt{
    margin-top: 60px;
}

</style>

<script>
    export default {
        data: () => ({

 dropdown_font: ['Arial', 'Calibri', 'Courier', 'Verdana'],
            items: [{
                    id: 1,
                    name: 'Applications :',
                    children: [{
                            id: 2,
                            name: 'Calendar : app'
                        },
                        {
                            id: 3,
                            name: 'Chrome : app'
                        },
                        {
                            id: 4,
                            name: 'Webstorm : app'
                        },
                    ],
                },
                {
                    id: 5,
                    name: 'Documents :',
                    children: [{
                            id: 6,
                            name: 'vuetify :',
                            children: [{
                                id: 7,
                                name: 'src :',
                                children: [{
                                        id: 8,
                                        name: 'index : ts'
                                    },
                                    {
                                        id: 9,
                                        name: 'bootstrap : ts'
                                    },
                                ],
                            }, ],
                        },
                        {
                            id: 10,
                            name: 'material2 :',
                            children: [{
                                id: 11,
                                name: 'src :',
                                children: [{
                                        id: 12,
                                        name: 'v-btn : ts'
                                    },
                                    {
                                        id: 13,
                                        name: 'v-card : ts'
                                    },
                                    {
                                        id: 14,
                                        name: 'v-window : ts'
                                    },
                                ],
                            }, ],
                        },
                    ],
                },
                {
                    id: 15,
                    name: 'Downloads :',
                    children: [{
                            id: 16,
                            name: 'October : pdf'
                        },
                        {
                            id: 17,
                            name: 'November : pdf'
                        },
                        {
                            id: 18,
                            name: 'Tutorial : html'
                        },
                    ],
                },
                {
                    id: 19,
                    name: 'Videos :',
                    children: [{
                            id: 20,
                            name: 'Tutorials :',
                            children: [{
                                    id: 21,
                                    name: 'Basic layouts : mp4'
                                },
                                {
                                    id: 22,
                                    name: 'Advanced techniques : mp4'
                                },
                                {
                                    id: 23,
                                    name: 'All about app : dir'
                                },
                            ],
                        },
                        {
                            id: 24,
                            name: 'Intro : mov'
                        },
                        {
                            id: 25,
                            name: 'Conference introduction : avi'
                        },
                    ],
                },
            ],
        }),

    }
</script>
