
<template>
    <div class="text-center">

        <img src="../assets/Group 753.png" class="mt-10">
        <h2>Forgot Password </h2>
           <h2 class="mt-10">An Email has been sent to your mail addresss <br> please verify to reset password.</h2>
         <div v-on:click="forgotpassword()">
                    <h5 class=" mt-5" style="cursor : pointer ">
                        <u>Enter new password...</u>
                    </h5>
                    </div>

    </div>

</template>
<script>
    export default {

        methods: {
        
              forgotpassword() {
                this.$router.push('/forgotpassword')
            }
        }
    }
</script>