<template>
  <div class="home">
        <template>
      <v-container class="grey lighten-5">
       
      </v-container>

      <GmapMap v-bind:center="center" v-bind:zoom="5" map-type-id="terrain" style="height: 100vh">
        <GmapMarker v-bind:key="index" v-for="(m, index) in markers" v-bind:position="m.position"
          v-bind:clickable="true" />
      </GmapMap>

    </template>

  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVdCZ1tQ5KrwkKTY4aOCx0wBTlwayaUOk"></script>

<script>
    import * as VueGoogleMaps from 'vue2-google-maps';
    import Vue from 'vue';
    import {loaded} from 'vue2-google-maps'

    Vue.use(VueGoogleMaps, {
        load: {
            key: 'AIzaSyAVdCZ1tQ5KrwkKTY4aOCx0wBTlwayaUOk',
            libraries: 'places',// If you need to use place input
        }
    });

    export default {
        data() {
      return {
        center: {
          lat: 22.0574,
          lng: 78.9382
        },
        markers: [{
          position: {
            lat: 28.6139,
            lng: 77.209
          }
        }, {
          position: {
            lat: 9.9312,
            lng:  76.2673
          }

        }]
      }
    },


        watch: {
            
            markers(markers) {
                if (markers.length > 2) {
                   //Here is the problem
                    const bounds = new google.maps.LatLngBounds();
                    for (let m of markers) {
                        bounds.extend(m.latLng);
                    }
                    this.$refs.map.$mapObject.fitBounds(bounds);

                    loaded.then(() => {
    var bounds = new google.maps.LatLngBounds()
    /* etc */
})
                }
            }
        },

        methods:{
        },
        mounted: function () {;
            $.get( '/locations/getMarkers/', function( data ) {
                this.markers = data;
            });
        }
    }
</script>