<template>
  <div class="home">

    <template>
      <GmapMap v-bind:center="center" v-bind:zoom="5" map-type-id="terrain" style="height: 84vh">
        <GmapMarker v-bind:key="index" v-for="(m, index) in markers" v-bind:position="m.position"
          v-bind:clickable="true" />
      </GmapMap>

    </template>

  </div>
</template>

<script>
  export default {
    name: 'home',
    components: {},


    data() {
      return {
        center: {
          lat: 22.0574,
          lng: 78.9382
        },
        markers: [{
          position: {
            lat: 28.6139,
            lng: 77.209
          }
        }, {
          position: {
            lat: 9.9312,
            lng:  76.2673
          }

        }]
      }
    }



  }
</script>