<template>
    <div>
        <b-container class="m-0 p-0">
          <b-row class="ml-10 mt-8">
            <b-col cols="7" class="p-0 m-0"><h3 class="text-left">Invoice</h3></b-col>
            <b-col class="p-0 m-0 mt-2">{{ invoice.timestamp | formatDate }}</b-col>
          </b-row>
          <b-row class="mt-0 ml-10">
            <b-col cols="8" class="p-0 m-0"><h5 class="text-left">Actual Invoice Breakdown</h5></b-col>
            <b-col class="p-0 m-0">order No: {{ invoice.receiver }}</b-col>
          </b-row>
        </b-container>
        
        <hr class="w-75 ml-10 mt-2">

        <b-container class="m-0 p-0 mb-3">
          <b-row class="mt-0 ml-10">
            <b-col class="p-0 m-0" cols="1"><b-avatar size="4.5rem" src=""></b-avatar></b-col>
            <b-col class="p-0 m-0 ml-3 mr-3" cols="6">
                  <h6 class="mt-3">name</h6>
                  <p class="mt-1"> Electrical Repaired</p>
            </b-col>
            <b-col class="p-0 m-0 ml-12">
                  <p class="mt-5"><b-icon icon="star-fill" size="1.1rem" class="mr-2"></b-icon>4.3 - SSN12</p>
            </b-col>
          </b-row>
        </b-container>

        <template class="mx-10">
            <v-card class="w-75 mx-10 p-1 mb-5" outlined>
                <h6 class="mt-3 ml-5">Electrical</h6>
                <p class="mt-1 ml-5"> Repair - Power Socket - Switches</p>
            </v-card>
            <v-card class="w-75 mx-10 p-1 mb-5" outlined>
                <h6 class="mt-3 ml-5">Your Location<b-icon icon="geo-alt" size="1.2rem" class="ml-2"></b-icon></h6>
                <p class="mt-1 ml-5">lorem epsum</p>
            </v-card>
            <v-card class="w-75 mx-10" outlined>
                <table class="table table-hover">
                    <tbody class="mt-5">
                        <tr>
                            <td class="pl-5">Base fare</td>
                            <td class="text-right">$</td>
                            <td class="text-right pr-10 wid">{{ invoice.base_wage }}</td>
                        </tr>
                         <tr>
                            <td class="pl-5">Service fare</td>
                            <td class="text-right">$</td>
                            <td class="text-right pr-10 wid">{{ invoice.service_fare }}</td>
                        </tr>
                         <tr>
                            <td class="pl-5">Extra price</td>
                            <td class="text-right"></td>
                            <td class="text-right pr-10 wid">  
                              <div class="text-center">
                                <v-dialog
                                  v-model="dialog"
                                  width="500"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                      color="green lighten-1"
                                      dark :elevation="10"
                                      v-bind="attrs"
                                      v-on="on"
                                    >
                                      Details
                                    </v-btn>
                                  </template>

                                  <v-card>
                                    <v-card-title
                                      class="headline green white--text"
                                      primary-title
                                    >
                                      DETAILS
                                    </v-card-title>

                                    <v-card-text>
                                      <table class="table table-hover" v-bind:key="id" 
                                        v-for="(detail,id) in invoice.details">
                                        <tbody class="mt-5">
                                          <tr>
                                              <td class="pl-5"><b>{{ id+1 }}. </b> </td> 
                                              <td>detail {{ id+1 }} </td>
                                              <td class="text-right">$</td>
                                              <td class="text-right pr-10 wid">{{ detail }}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </v-card-text>
                                  </v-card>
                                </v-dialog>
                              </div>
                            </td>
                        </tr>
                         <tr>
                            <td class="pl-5">Discount</td>
                            <td class="text-right">$</td>
                            <td class="text-right pr-10 wid">{{ invoice.discount }}</td>
                        </tr>
                        <tr>
                            <td class="pl-5">Tax fare</td>
                            <td class="text-right">$</td>
                            <td class="text-right pr-10 wid">{{ invoice.tax_fare }}</td>
                        </tr>
                        <tr>
                            <td class="pl-5">Amount be pay</td>
                            <td class="text-right">$</td>
                            <td class="text-right pr-10 wid">{{ invoice.amount_be_pay }}</td>
                        </tr>
                        <tr>
                            <td class="pl-5"><h5>Total Amount</h5></td>
                            <td class="text-right"><h5>$</h5></td>
                            <td class="text-right pr-10 wid"><h5>{{ invoice.total_amount }}</h5></td>
                        </tr>
                    </tbody>
                </table>
            </v-card>
        </template>

        <hr class="w-75 ml-10 my-5">
        <h6 class="ml-12 mb-5">PAYMENT DETAILS</h6>
        <v-card class="w-75 mx-10 p-1 mb-10" outlined>
          <b-row class="mt-0 ml-10">
              <b-col class="p-0 m-0 my-3" cols="1"><b-img  rounded="0" src="../assets/od.png" alt="Circle image"></b-img></b-col>
              <b-col class="p-0 m-0 mt-6 ml-5" cols="4">{{ invoice.mode_of_payment }}</b-col>
              <b-col class="p-0 m-0 mt-6 ml-5" cols="5">
                <div class="text-center">
                    <v-dialog
                      v-model="T_id"
                      width="500"
                    >
                      <template v-slot:activator="{ on, att }">
                        <v-btn
                          class="my-2"
                          color=""
                          :elevation="20"
                          dark rounded 
                          v-bind="att"
                          v-on="on"
                        >
                          Transaction ID
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title
                          class="headline blue white--text"
                          primary-title
                        >
                          Transaction ID
                        </v-card-title>
                        <v-card-text>
                          <b>
                          {{ invoice.transaction_id }}
                          </b>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                  </div>
                </b-col>
              <b-col class="p-0 m-0 my-3" cols="1"><b-img  rounded="0" src="../assets/od.png" alt="Circle image"></b-img></b-col>
          </b-row>
        </v-card>

    </div>


</template>

<style>
    .siz {
        width: 20px;
        margin-left: 5px;
    }
    .wid{
      width: 80px !important;
    }
    .bt{
      float: right;
      cursor: pointer;
    }
</style>
<script>
  import axios from 'axios';
  // import url from '../App.vue';
  export default {
    props : {
      invoice : {},
      // url : url
    },
    data() {
      return {
        dialog: false,
        T_id: false,
        
        // mainProps: { blank: 'true', blankColor: '#777', width: 75, height: 75, class: 'm1' },
        // mainProp: { blank: 'true', blankColor: '#777', width: 50, height: 50, class: 'm1' }
      }
    },
    methods:{
      getInvoice() {
        // eslint-disable-next-line no-console
        console.log('request sent');
        
        axios.get("http://127.0.0.1:8000/invoice/in")
        // eslint-disable-next-line no-console
        .then(res =>{
          this.invoice=res.data[0];
          // eslint-disable-next-line no-console
          console.log(this.invoice);
          })
        // eslint-disable-next-line no-console
        .catch(err => console.log(err));
      },
    },
    created(){
      this.getInvoice();
    }
  }
</script>
