<template>
    <div class="text-center">

        <img src="../assets/Group 753.png" class="mt-10">
        <h2> Admin Login </h2>
        <h4>An OTP has been sent to your phone number.</h4>
        <v-row no-gutters>
            <v-col>

            </v-col>
            <v-col cols="11" md="2"  sm="6" class="mt-3">
                <v-text-field v-model="last" label="Enter OTP" solo-inverted></v-text-field>
                <p class="text--disabled pos" :time-left="timeLeft" v-if="timeLeft>=0">{{ formattedTimeLeft }}</p>
                <div v-else>
                    <p class="text--disabled mt-2" style="cursor : pointer " v-on:click="initialize">Resend OTP</p>
                </div>
                <v-btn color="success">Login</v-btn>
               <div v-on:click="navigate()">
            <h4 class="mt-4" style="cursor : pointer "> Login with User ID</h4>
          </div>
          
            </v-col>
            <v-col>

            </v-col>
        </v-row>

    </div>

</template>

<script>
export default {
    // props: {
    //     timeLeft: {
    //     type: Number,
    //     required: true
    //     },
    // },
    data() {
        return {
        timeLimit: 10,
        timePassed: 0,
        timerInterval: null,
        }
    },
    computed: {
        timeLeft() {
            return this.timeLimit - this.timePassed
        },
        formattedTimeLeft() {
            const timeLeft = this.timeLeft
            // The largest round integer less than or equal to the result of time divided being by 60.
            const minutes = Math.floor(timeLeft / 60)
            // Seconds are the remainder of the time divided by 60 (modulus operator)
            let seconds = timeLeft % 60
            // If the value of seconds is less than 10,then display seconds with a leading zero
            if (seconds < 10) {
                seconds = `0${seconds}`
            }
            // The output in MM:SS format
            return `${minutes}:${seconds}`
        },
    },
    methods: {
        navigate() {
            this.$router.push('/adminlogin')
        },
        startTimer() {
            this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
        },
        initialize() {
            this.timeLimit = 10;
            this.timePassed = 0;
            this.timerInterval = null;
        },
    },
    mounted() {
        this.startTimer();
    },
}
</script>
<style>
.v-application p {
    margin-bottom: 0 !important;
}
.pos{
position: relative;
bottom: 10px;
}
</style>