<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">No Sufficient funds in your account!</h3>
                    <h3 class="mt-10">Please Top Up!</h3>
                    <h3 class="mt-10">Or choose another way payment</h3>
                    <h3 class="mt-10">Note on here</h3> 
                    <h3 class="mt-11">Date & Time</h3>
                    <h3 class="mt-10">Paid by</h3>
                    <h3 class="mt-10">OD Pay</h3>            
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="No Sufficient funds in your account!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Please Top Up!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Or choose another way payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note on here" required></v-text-field> 
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date & Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Paid by" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Pay" required></v-text-field>       
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>