<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Service in Progress</h3>
                    <h3 class="mt-10">Enjoying the service</h3>
                    <h3 class="mt-10">less</h3>
                    <h3 class="mt-10">minutes</h3>
                    <h3 class="mt-11">seconds</h3>               
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Service in Progress" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enjoying the service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="less" required></v-text-field>  
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="minutes" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="seconds" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>