<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Extra Price</h3>
                    <h3 class="mt-10">Hourly charge</h3>
                    <h3 class="mt-10">Min charge</h3>
                    <h3 class="mt-10">Wire 10 mtr</h3>
                    <h3 class="mt-11">Capacitor</h3>
                    <h3 class="mt-11">OK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Extra Price" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hourly charge" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Min charge" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Wire 10 mtr" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Capacitor" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OK" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>