<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Payment Successful!</h3>
                    <h3 class="mt-10">has been transferred</h3>
                    <h3 class="mt-10">Note on here</h3> 
                    <h3 class="mt-11">Date & Time</h3>
                    <h3 class="mt-11">Paid by</h3>
                    <h3 class="mt-10">Wallet</h3>            
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Payment Successful!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="has been transferred" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note on here" required></v-text-field> 
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date & Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Paid by" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Wallet" required></v-text-field>       
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>