<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Change password</h3>
                    <h3 class="mt-10">NEW PASSWORD</h3>
                    <h3 class="mt-10">Your new password</h3>
                    <h3 class="mt-10">CONFIRMATION PASSWORD</h3>
                    <h3 class="mt-10">Retype your password</h3>
                     <h3 class="mt-10">Enter</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Change password" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEW PASSWORD" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your new password" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRMATION PASSWORD" required></v-text-field>
                      <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Retype your password" required></v-text-field>
                       <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>