<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Electrical Repaired</h3>
                    <h3 class="mt-10">Rate your service</h3>
                    <h3 class="mt-10">NOTE</h3> 
                    <h3 class="mt-11">Type your note here</h3>
                    <h3 class="mt-10">ORDER DETAIL</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-11">Repair - Power Sockets - Switches</h3>
                    <h3 class="mt-11">LOCATION</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-10">ORDER INFO</h3>
                    <h3 class="mt-11">Order Id</h3>
                    <h3 class="mt-11">Date</h3>
                    <h3 class="mt-10">PAYMENT DETAILS</h3>
                    <h3 class="mt-10">Cash</h3>
                    <h3 class="mt-11">SUBMIT</h3>            
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical Repaired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Rate your service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NOTE" required></v-text-field> 
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type your note here" required></v-text-field>     
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ORDER DETAIL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair - Power Sockets - Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LOCATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ORDER INFO" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Order Id" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PAYMENT DETAILS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SUBMIT" required></v-text-field>       
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>