<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Create Account</h3>
                    <h3 class="mt-10">
                        Let’s get On Demand lifestyle service for
                        your comfort with OD Tasker App
                    </h3>
                    <h3 class="mt-10">FIRST NAME</h3>
                    <h3 class="mt-10">LAST NAME</h3>
                    <h3 class="mt-10">Your first name</h3>
                    <h3 class="mt-10">Your last name</h3>
                    <h3 class="mt-10">COUNTRY CODE</h3>
                    <h3 class="mt-10">PHONE NUMBER</h3>
                    <h3 class="mt-10">Your phone number</h3>
                    <h3 class="mt-10">EMAIL</h3>
                    <h3 class="mt-10">Your email address</h3>
                    <h3 class="mt-10">PASSWORD</h3>
                    <h3 class="mt-10">Your password</h3>
                    <h3 class="mt-10">CONFIRM PASSWORD</h3>
                    <h3 class="mt-10">Retype your password</h3>
                    <h3 class="mt-10">Have an account? Sign Up Now</h3>
                    <h3 class="mt-10">LOG IN</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Create Account" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="  Let’s get On Demand lifestyle service for
                        your comfort with OD Tasker App" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="FIRST NAME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LAST NAME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your first name" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your last name" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="COUNTRY CODE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PHONE NUMBER" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your phone number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="EMAIL" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your email address" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PASSWORD" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your password" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM PASSWORD" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Retype your password" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Have an account? Sign Up Now" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LOG IN" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>