<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Invoice</h3>
                    <h3 class="mt-10">Actual  Invoice Breakdown</h3>
                    <h3 class="mt-10">General Cleaning</h3>
                    <h3 class="mt-11">Start</h3>
                    <h3 class="mt-11">End</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-11">Base fare</h3>
                    <h3 class="mt-11">Service fare</h3>
                    <h3 class="mt-10">Extra Price</h3>
                    <h3 class="mt-11">Detail</h3>
                    <h3 class="mt-10">Discount</h3>
                    <h3 class="mt-10">Tax fare</h3>
                    <h3 class="mt-10">Amount be pay</h3>
                    <h3 class="mt-10">Total amount</h3>
                    <h3 class="mt-11">PAYMENT DETAILS</h3>
                    <h3 class="mt-11">OD Pay</h3>
                    <h3 class="mt-10">Send to email</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Invoice" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Actual  Invoice Breakdown" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="General Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Start" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="End" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Base fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Service fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Extra Price" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Detail" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Discount" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Tax fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Amount be pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total amount" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PAYMENT DETAILS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Send to email" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>