<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Credit</h3>
                    <h3 class="mt-10">Balance(SGD)</h3>
                    <h3 class="mt-10">Set primary</h3>
                    <h3 class="mt-11">TOP UP WITH</h3>
                    <h3 class="mt-11">Card and Wallet</h3>
                    <h3 class="mt-11">PROCESS</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Credit" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Balance(SGD)" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Set primary" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="TOP UP WITH" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Card and Wallet" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PROCESS" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>