<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">
                        Your profile has been verified!
                        Please enter verify code on below
                    </h3>
                    <h3 class="mt-10">Resend the code to your email</h3>
                    <h3 class="mt-10">Enter</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2 class="mb-7">മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your profile has been verified!
                        Please enter verify code on below" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Resend the code to your email" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>