<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Enter Amount</h3>
                    <h3 class="mt-10">PAYMENT METHOD</h3>
                    <h3 class="mt-10">Add BCA Debit Card</h3>
                    <h3 class="mt-11">Add your card for an instant top up</h3>
                    <h3 class="mt-11">SUMMARY</h3>
                    <h3 class="mt-11">Payment</h3>
                    <h3 class="mt-11">Note</h3>
                    <h3 class="mt-9">All your transaction are secure and fast</h3>
                    <h3 class="mt-10">By continuing, your</h3>
                    <h3 class="mt-11">PROCESS</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter Amount" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PAYMENT METHOD" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add BCA Debit Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add your card for an instant top up" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SUMMARY" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="All your transaction are secure and fast" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="By continuing, your" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PROCESS" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>