<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Add BCA Debit Card</h3>
                    <h3 class="mt-10">ENTER PHONE NUMBER</h3>
                    <h3 class="mt-10">your phone number</h3>
                    <h3 class="mt-11">ENTER OTP</h3>
                    <h3 class="mt-11">your number otp</h3>
                    <h3 class="mt-11">Try Again</h3>
                    <h3 class="mt-5">I have read and agreed with Terms & Conditions applicable</h3>
                    <h3 class="mt-8">CONFIRM</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add BCA Debit Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ENTER PHONE NUMBER" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="your phone number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ENTER OTP" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="your number otp" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Try Again" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="I have read and agreed with Terms & Conditions applicable" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>