<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Add BCA Debit Card</h3>
                    <h3 class="mt-10">CARD NUMBER</h3>
                    <h3 class="mt-10">DILY LIMIT</h3>
                    <h3 class="mt-11">NEXT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add BCA Debit Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CARD NUMBER" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DILY LIMIT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>