<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Create Pin</h3>
                    <h3 class="mt-10">SMS</h3>
                    <h3 class="mt-11">Email</h3>
                    <h3 class="mt-10">OTP</h3>
                    <h3 class="mt-10">VALIDATE</h3>       
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Create Pin" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SMS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Email" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OTP" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="VALIDATE" required></v-text-field>     
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>