<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Confirmation Pin</h3>
                    <h3 class="mt-10">Enter your PIN</h3>
                    <h3 class="mt-11">Forget Pin?</h3>
                    <h3 class="mt-10">NEXT</h3>  
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Confirmation Pin" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter your PIN" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Forget Pin?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>