<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Top Up Confirmation</h3>
                    <h3 class="mt-10">Top Up Payment</h3>
                    <h3 class="mt-10">OD Pay Fee</h3>
                    <h3 class="mt-11">Total</h3>
                    <h3 class="mt-11">Note</h3>
                    <h3 class="mt-11">All your transaction are secure and fast</h3>
                    <h3 class="mt-10">By continuing, your</h3>
                    <h3 class="mt-11">CONFIRM</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Top Up Confirmation" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Top Up Payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Pay Fee" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="All your transaction are secure and fast" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="By continuing, your" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>