<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Cleaning Service</h3>
                    <h3 class="mt-10">Rate your service</h3>
                    <h3 class="mt-10">NOTE</h3> 
                    <h3 class="mt-11">Type your note here</h3>
                    <h3 class="mt-11">SUBMIT</h3>            
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning Service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Rate your service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NOTE" required></v-text-field> 
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type your note here" required></v-text-field>     
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SUBMIT" required></v-text-field>       
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>