<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Successfully added!</h3>
                    <h3 class="mt-10">Your card were successful</h3>
                    <h3 class="mt-11">Card Number</h3>
                    <h3 class="mt-10">Expired</h3>
                    <h3 class="mt-11">CVV</h3>
                    <h3 class="mt-11">Card Status</h3>
                    <h3 class="mt-10">Primary Card</h3>
                    <h3 class="mt-10">FINISH</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Successfully added!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your card were successful" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Card Number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Expired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CVV" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Card Status" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Primary Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="FINISH" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template> 