<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">FIRST NAME</h3>
                    <h3 class="mt-10">LAST NAME</h3>
                    <h3 class="mt-10">PHONE NUMBER</h3>
                    <h3 class="mt-11">EMAIL</h3>
                    <h3 class="mt-11">COUNTRY</h3>
                    <h3 class="mt-11">STATE</h3>
                    <h3 class="mt-11">Looking change password?</h3>
                    <h3 class="mt-11">NEXT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="FIRST NAME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LAST NAME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PHONE NUMBER" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="EMAIL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="COUNTRY" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="STATE" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Looking change password?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>