<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">General Cleaning</h3>
                    <h3 class="mt-10">Posted by</h3>
                    <h3 class="mt-10">Property Type</h3>
                    <h3 class="mt-10">No. of Bedrooms</h3>
                    <h3 class="mt-11">No. of Bathrooms</h3>
                    <h3 class="mt-11">Size</h3>
                    <h3 class="mt-11">SQT</h3>
                    <h3 class="mt-11">Below</h3>
                    <h3 class="mt-10">Additional Service?</h3>
                    <h3 class="mt-11">Hours Cleaning Required</h3>
                    <h3 class="mt-10">Cleaning Supplies Provided</h3>
                    <h3 class="mt-11">Special note from tasker</h3>
                    <h3 class="mt-10">Add any further details</h3>
                    <h3 class="mt-10">DATE & TIME</h3>
                    <h3 class="mt-10">ASAP</h3>
                    <h3 class="mt-11">LOCATION</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-11">Favorite place</h3>
                    <h3 class="mt-10">IMAGE</h3>
                    <h3 class="mt-10">PAYMENT DETAILS</h3>
                    <h3 class="mt-10">Cash</h3>
                    <h3 class="mt-11">Promo code</h3>
                    <h3 class="mt-11">ACCEPT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="General Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Posted by" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Property Type" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="No. of Bedrooms" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="No. of Bathrooms" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Size" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SQT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Below" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Additional Service?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hours Cleaning Required" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning Supplies Provided" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Special note from tasker" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add any further details" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DATE & TIME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ASAP" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LOCATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="IMAGE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PAYMENT DETAILS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Promo code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ACCEPT" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>