<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Chasier</h3>
                    <h3 class="mt-10">SERVICE DETAIL</h3>
                    <h3 class="mt-10">Start</h3>
                    <h3 class="mt-11">End</h3>
                    <h3 class="mt-11">LOCATION</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-10">DATE & TIME</h3>
                    <h3 class="mt-10">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-11">DETAIL INFORMATION</h3>
                    <h3 class="mt-10">Base fare</h3>
                    <h3 class="mt-10">Service fare</h3>
                    <h3 class="mt-10">Extra fare</h3>
                    <h3 class="mt-10">Detail</h3>
                    <h3 class="mt-11">Discount</h3>
                    <h3 class="mt-10">Tax fare</h3>
                    <h3 class="mt-11">Amount be pay</h3>
                    <h3 class="mt-11">Total Amount</h3>         
                    <h3 class="mt-11">ORDER INFO</h3>
                    <h3 class="mt-10">Order Id</h3>
                    <h3 class="mt-10">PAYMENT DETAILS</h3>
                    <h3 class="mt-11">OD Pay</h3>
                    <h3 class="mt-11">NEEDS HELP</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Chasier" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SERVICE DETAIL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Start" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="End" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LOCATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DATE & TIME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DETAIL INFORMATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Base fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Service fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Extra fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Detail" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Discount" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Tax fare" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Amount be pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total Amount" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ORDER INFO" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Order Id" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PAYMENT DETAILS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEEDS HELP" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>