<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">OD Pay Detail Credit</h3>
                    <h3 class="mt-10">You've paid SGD - 0.1 to</h3>
                    <h3 class="mt-10">Total</h3> 
                    <h3 class="mt-11">Recipient</h3>
                    <h3 class="mt-10">Mobile Number</h3>
                    <h3 class="mt-10">Notes Test</h3>
                    <h3 class="mt-11">Date & Time</h3>
                    <h3 class="mt-11">Date Time</h3>
                    <h3 class="mt-11">Transaction Id</h3>
                    <h3 class="mt-11">NEEDS HELP</h3>          
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Pay Detail Credit" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="You've paid SGD - 0.1 to" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total" required></v-text-field> 
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Recipient" required></v-text-field>     
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Mobile Number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Notes Test" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date & Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Transaction Id" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEEDS HELP" required></v-text-field>     
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>