<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Payment Method</h3>
                    <h3 class="mt-10">Cash</h3>
                    <h3 class="mt-11">Card</h3>
                    <h3 class="mt-10">Wallet</h3>
                    <h3 class="mt-11">Od Pay</h3>
                    <h3 class="mt-11">CHOOSE</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Payment Method" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Wallet" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Od Pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CHOOSE" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>