<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h4 class="mt-5">Are you sure want to change payment method?</h4>
                    <h3 class="mt-10">FROM</h3>
                    <h3 class="mt-11">TO</h3>
                    <h3 class="mt-10">Cash</h3>
                    <h3 class="mt-11">Od Pay</h3>
                    <h3 class="mt-11">Try Another</h3>
                    <h3 class="mt-11">OK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Are you sure want to change payment method?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="FROM" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="TO" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Od Pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Try Another" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OK" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>