<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Get</h3>
                    <h3 class="mt-11">Happy Meals</h3>
                    <h3 class="mt-11">Valid from</h3>
                    <h3 class="mt-10">until</h3>
                    <h3 class="mt-11">Enter your promo code below redeem it</h3>
                    <h3 class="mt-11">Promo code</h3>
                    <h3 class="mt-10">Apply</h3>
                    <h3 class="mt-10">HIGHLIGHT</h3>
                    <h3 class="mt-10">TERMS & CONDITIONS</h3>
                    <h3 class="mt-10">CONTACT & INFO</h3>
                    <h3 class="mt-11">Call</h3>
                    <h3 class="mt-10">Email</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Happy Meals" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Valid from" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="until" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter your promo code below redeem it" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Promo code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Apply" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="HIGHLIGHT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="TERMS & CONDITIONS" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONTACT & INFO" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Call" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Email" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>