<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Congratulations!</h3>
                    <h3 class="mt-11">You are getting reward points</h3>
                    <h3 class="mt-11">you will have </h3>
                    <h3 class="mt-10">added to your account</h3>
                    <h3 class="mt-5">Don’t know how to use ? check the Rewards Program</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Congratulations!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="You are getting reward points" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="you will have " required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="added to your account" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Don’t know how to use ? check the Rewards Program" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>