<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Reward Converted</h3>
                    <h3 class="mt-11">Get Rewards & Redeem for Cash</h3>
                    <h3 class="mt-10">Have a promo code?</h3>
                    <h3 class="mt-10">Enter your  promo code below redeem it</h3>
                    <h3 class="mt-11">ENTER PROMO CODE</h3>
                    <h3 class="mt-11">Promo Code</h3>
                    <h3 class="mt-11">Apply</h3>
                    <h3 class="mt-11">Scan QR Code at Promo Campaigns</h3>
                    <h3 class="mt-10">Scan QR Code</h3>
                    <h3 class="mt-10">Featured Promo</h3>
                    <h3 class="mt-11">OFF</h3>
                    <h3 class="mt-10">Redeem</h3>
                    <h3 class="mt-10">Get Cash Back</h3>
                    <h3 class="mt-10">Use Gets code to get Cash Back</h3>
                    <h3 class="mt-11">Valid Until</h3>
                    <h3 class="mt-11">Special Deals</h3>
                    <h3 class="mt-11">see all</h3>
                    <h3 class="mt-10">Get</h3>
                    <h3 class="mt-10">Happy Meals</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Reward Converted" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get Rewards & Redeem for Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Have a promo code?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter your  promo code below redeem it" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ENTER PROMO CODE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Promo Code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Apply" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Scan QR Code at Promo Campaigns" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Scan QR Code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Featured Promo" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OFF" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Redeem" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get Cash Back" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Use Gets code to get Cash Back" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Valid Until" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Special Deals" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="see all" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Happy Meals" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>