<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Get</h3>
                    <h3 class="mt-11">Happy Meals</h3>
                    <h3 class="mt-11">Valid Until</h3>
                    <h3 class="mt-10">Redeem</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Happy Meals" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Valid Until" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Redeem" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>