<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Saved place</h3>
                    <h3 class="mt-10">FAVOURITE</h3>
                    <h3 class="mt-11">Add home</h3>
                    <h3 class="mt-10">Add Work</h3>
                    <h3 class="mt-11">Add Address</h3>
                    <h3 class="mt-11">Save your favorite place</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Saved place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="FAVOURITE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add home" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add Work" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add Address" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Save your favorite place" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>