<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Your Location</h3>
                    <h3 class="mt-10">Enter your location</h3>
                    <h3 class="mt-11">Add home</h3>
                    <h3 class="mt-10">Add Work</h3>
                    <h3 class="mt-11">SAVED PLACE</h3>
                    <h3 class="mt-11">Save place</h3>
                    <h3 class="mt-10">Get Your favorite place easily</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter your location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add home" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add Work" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SAVED PLACE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Save place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Get Your favorite place easily" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>