<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Good Evening </h3>
                    <h3 class="mt-9">Balance</h3>
                    <h3 class="mt-10">Pay</h3>
                    <h3 class="mt-10">Request</h3>
                    <h3 class="mt-10">Top-Up</h3>
                    <h3 class="mt-11">Rewards</h3>
                    <h3 class="mt-11">What we can help you?</h3>
                    <h3 class="mt-11">OD Life</h3>
                    <h3 class="mt-11">OD Job</h3>
                    <h3 class="mt-11">OD Transport</h3>
                    <h3 class="mt-10">Passenger</h3>
                    <h3 class="mt-10">Commercial</h3>
                    <h3 class="mt-11">Daily News</h3>
                    <h3 class="mt-11">see all</h3>
                    <h3 class="mt-11">Discover</h3>
                    <h3 class="mt-11">History</h3>
                    <h3 class="mt-11">Payment</h3>
                    <h3 class="mt-10">Inbox</h3>
                    <h3 class="mt-10">Account</h3>
                    
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Good Evening " required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Balance" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pay" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Request" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Top-Up" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Rewards" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="What we can help you?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Life" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Job" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD Transport" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Passenger" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Commercial" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Daily News" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="see all" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Discover" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="History" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Inbox" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Account" required></v-text-field>
                
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>