<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Special Package</h3>
                    <h3 class="mt-11">Package</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-10">Repair - Power Socket - Switches</h3>
                    <h3 class="mt-11">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-11">Favorite Place</h3>
                    <h3 class="mt-10">Per Hours</h3>
                    <h3 class="mt-10">Per Days</h3>
                    <h3 class="mt-11">Hours</h3>
                    <h3 class="mt-10">days</h3>
                    <h3 class="mt-10">Additional</h3>
                    <h3 class="mt-10">minutes</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Special Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair - Power Socket - Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite Place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Additional" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="minutes" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>