<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">You've an appointment scheduled</h3>
                    <h3 class="mt-10">ELectrical</h3>
                    <h3 class="mt-10">Repair</h3>
                    <h3 class="mt-10">EDIT</h3>
                    <h3 class="mt-10">OK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="You've an appointment scheduled" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ELectrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="EDIT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OK" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>