<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Confirm Package</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-10">Repair - Power Socket - Switches</h3>
                    <h3 class="mt-11">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-11">Favorite Place</h3>
                    <h3 class="mt-10">Package Type</h3>
                    <h3 class="mt-10">Per Days</h3>
                    <h3 class="mt-11">Days</h3>
                    <h3 class="mt-10">Day</h3>
                    <h3 class="mt-10">hour</h3>
                    <h3 class="mt-10">Total Payment</h3>
                    <h3 class="mt-10">Cash</h3>
                    <h4 class="mt-7">If you were exceed package limits you will be charged as follow</h4>
                    <h3 class="mt-10">Exceeding per(1hr)</h3>
                    <h3 class="mt-10">Exceeding per(1day)</h3>
                    <h3 class="mt-11">SGD</h3>
                    <h3 class="mt-11">Note</h3>
                    <h4 class="mt-4">this is an approximate estimate, actual cost & extra consumables may be different due to the scope of work</h4>
                    <h3 class="mt-6">CONFIRM</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Confirm Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair - Power Socket - Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite Place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Package Type" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Day" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="hour" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total Payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="If you were exceed package limits you will be charged as follow" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Exceeding per(1hr)" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Exceeding per(1day)" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SGD" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="this is an approximate estimate, actual cost & extra consumables may be different due to the scope of work" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>