<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Electrical Repaired</h3>
                    <h3 class="mt-10">Please wait</h3>
                    <h3 class="mt-10">Thank you</h3>
                    <h3 class="mt-11">Type your message</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical Repaired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Please wait" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Thank you" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type your message" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>