<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Repaired Service</h3>
                    <h3 class="mt-10">Mute</h3>
                    <h3 class="mt-10">Keypad</h3>
                    <h3 class="mt-11">Sound</h3>
                    <h3 class="mt-11">Add Call</h3>
                    <h3 class="mt-11">Faced time</h3>
                    <h3 class="mt-11">Contact</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repaired Service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Mute" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Keypad" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Sound" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Add Call" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Faced time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Contact" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>