<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Tell us why you cancelled</h3>
                    <h3 class="mt-10">Servicer Late</h3>
                    <h3 class="mt-10">Servicer asked to cancel</h3>
                    <h3 class="mt-11">Servicer was uncontactable</h3>
                    <h3 class="mt-11">I changed my plan</h3>
                    <h3 class="mt-11">I waited to long</h3>
                    <h3 class="mt-11">Send</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Tell us why you cancelled" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Servicer Late" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Servicer asked to cancel" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Servicer was uncontactable" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="I changed my plan" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="I waited to long" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Send" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>