<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Log Out</h3>
                    <h3 class="mt-11">Edit profile</h3>
                    <h3 class="mt-10">My Activities</h3>
                    <h3 class="mt-10">Scheduled</h3>
                    <h3 class="mt-11">Saved places</h3>
                    <h3 class="mt-11">Rate Card</h3>
                    <h3 class="mt-11">Settings</h3>
                    <h3 class="mt-10">Receipt</h3>
                    <h3 class="mt-10">Refer & Earn</h3>
                    <h3 class="mt-10">Help Centre</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Log Out" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Edit profile" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="My Activities" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Scheduled" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Saved places" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Rate Card" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Settings" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Receipt" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Refer & Earn" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Help Centre" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>