<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">How can we help you today?</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-10">Plumbing</h3>
                    <h3 class="mt-10">Painting</h3>
                    <h3 class="mt-10">Aircon</h3>
                    <h3 class="mt-11">Date & Time</h3>
                    <h3 class="mt-11">Your Location</h3>
                    <h3 class="mt-10">Favorite place</h3>
                    <h3 class="mt-11">SET TASK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="How can we help you today?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Plumbing" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Painting" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Aircon" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date & Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SET TASK" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>