<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Electrical</h3>
                    <h3 class="mt-10">SELECT THE TYPE</h3>
                    <h3 class="mt-10">Repair</h3>
                    <h3 class="mt-10">Replacement</h3>
                    <h3 class="mt-11">Instalation</h3>
                    <h3 class="mt-11">SELECT THE DETAIL OF TYPE</h3>
                    <h3 class="mt-11">Switches/Power Sockets</h3>
                    <h3 class="mt-10">Fittings</h3>
                    <h3 class="mt-10">Power Failure</h3>
                    <h3 class="mt-11">SELECT ONE</h3>
                    <h3 class="mt-11">Switches</h3>
                    <h3 class="mt-10">Power Socket</h3>
                    <h3 class="mt-11">NEXT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SELECT THE TYPE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Replacement" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Instalation" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SELECT THE DETAIL OF TYPE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Switches/Power Sockets" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Fittings" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Power Failure" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SELECT ONE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Power Socket" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>