<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Date</h3>
                    <h3 class="mt-10">Time</h3>
                    <h3 class="mt-5">Pre booking can be made 45 minutes from now</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-10">Repair - Power Socket - Switches</h3>
                    <h3 class="mt-10">Estimate Price</h3>
                    <h3 class="mt-11">Approximate Time</h3>
                    <h3 class="mt-11">Hours</h3>
                    <h3 class="mt-11">Pay by</h3>
                    <h3 class="mt-10">Package</h3>
                    <h3 class="mt-10">Promo code</h3>
                    <h3 class="mt-11">Per Hours</h3>
                    <h3 class="mt-11">Per Days</h3>
                    <h4 class="mt-5">Note: this is an approximate estimate, actual cost & extra
consumables may be different due to the scope of work.</h4>
                    <h3 class="mt-5">CANCEL</h3>
                    <h3 class="mt-10">CONFIRM</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pre booking can be made 45 minutes from now" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair - Power Socket - Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Estimate Price" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Approximate Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pay by" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Promo code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note: this is an approximate estimate, actual cost & extra
consumables may be different due to the scope of work." required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CANCEL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>