<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Estimate Price</h3>
                    <h3 class="mt-11">Approximate Time</h3>
                    <h3 class="mt-11">Hours</h3>
                    <h3 class="mt-11">Pay by Cash</h3>
                    <h3 class="mt-10">Days</h3>
                    <h3 class="mt-10">Promo code</h3>
                    <h3 class="mt-11">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-10">Your Location</h3>
                    <h3 class="mt-10">Favorite place</h3>
                    <h3 class="mt-11">Per Hours</h3>
                    <h3 class="mt-11">Transport</h3>
                    <h3 class="mt-10">Per Mins</h3>
                    <h3 class="mt-10">Fixed</h3>
                    <h3 class="mt-10">ORDER</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Estimate Price" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Approximate Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pay by Cash" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Days" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Promo code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your Location" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Transport" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Mins" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Fixed" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ORDER" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>