<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Electrical Repaired</h3>
                    <h3 class="mt-11">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-10">Select hours</h3>
                    <h3 class="mt-10">hours</h3>
                    <h3 class="mt-10">Total</h3>
                    <h3 class="mt-10">Special Package</h3>
                    <h3 class="mt-11">Per Hours</h3>
                    <h3 class="mt-11">Transport</h3>
                    <h3 class="mt-10">Per Mins</h3>
                    <h3 class="mt-10">Fixed</h3>
                    <h3 class="mt-11">NOTE</h3>
                    <h3 class="mt-11">Type your note here</h3>
                    <h3 class="mt-10">DETAIL PROFILE</h3>
                    <h3 class="mt-10">REQUEST NOW</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical Repaired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Select hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Total" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Special Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Transport" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Per Mins" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Fixed" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NOTE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type your note here" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DETAIL PROFILE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="REQUEST NOW" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>