<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Electrical Repaired</h3>
                    <h3 class="mt-11">ABOUT</h3>
                    <h3 class="mt-11">EXPERIENCE</h3>
                    <h3 class="mt-10">Month</h3>
                    <h3 class="mt-10">Date</h3>
                    <h3 class="mt-10">EDUCATION</h3>
                    <h3 class="mt-10">Bachelor Degree</h3>
                    <h3 class="mt-11">Last Education</h3>
                    <h3 class="mt-11">LANGUAGE</h3>
                    <h3 class="mt-10">SKILL</h3>
                    <h3 class="mt-10">REQUEST NOW</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical Repaired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ABOUT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="EXPERIENCE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Month" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="EDUCATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Bachelor Degree" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Last Education" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LANGUAGE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SKILL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="REQUEST NOW" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>