<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">How can we help you today?</h3>
                    <h3 class="mt-10">Electrical</h3>
                    <h3 class="mt-10">Plumbing</h3>
                    <h3 class="mt-10">Cleaning</h3>
                    <h3 class="mt-11">Painting</h3>
                    <h3 class="mt-11">Decoration</h3>
                    <h3 class="mt-11">Interior</h3>
                    <h3 class="mt-10">Flooring</h3>
                    <h3 class="mt-11">Renovation</h3>
                    <h3 class="mt-11">Service</h3>
                    <h3 class="mt-10">CHOOSE</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="How can we help you today?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Plumbing" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Painting" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Decoration" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Interior" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Flooring" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Renovation" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Service" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CHOOSE" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>