<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Cleaning</h3>
                    <h3 class="mt-10">SELECT THE TYPE</h3>
                    <h3 class="mt-10">HDB</h3>
                    <h3 class="mt-10">Condo</h3>
                    <h3 class="mt-10">Landed</h3>
                    <h3 class="mt-11">Commercial</h3>
                    <h3 class="mt-11">Others</h3>
                    <h3 class="mt-11">TYPE OF SERVICE</h3>
                    <h3 class="mt-10">General Cleaning</h3>
                    <h3 class="mt-10">Deep Clean</h3>
                    <h3 class="mt-11">Morning out clean</h3>
                    <h3 class="mt-11">Commercial Property Cleaning</h3>
                    <h3 class="mt-10">CHOOSE</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SELECT THE TYPE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="HDB" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Condo" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Landed" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Commercial" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Others" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="TYPE OF SERVICE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="General Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Deep Clean" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Morning out clean" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Commercial Property Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CHOOSE" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>