<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Cleaning</h3>
                    <h3 class="mt-10">SELECT THE TYPE</h3>
                    <h3 class="mt-10">No. of Bathrooms</h3>
                    <h3 class="mt-10">No. of Bedrooms</h3>
                    <h3 class="mt-10">SIZE</h3>
                    <h3 class="mt-11">Below</h3>
                    <h3 class="mt-11">SQT</h3>
                    <h3 class="mt-11">More than</h3>
                    <h3 class="mt-10">Don't know</h3>
                    <h3 class="mt-10">ADDITIONAL SERVICE?</h3>
                    <h3 class="mt-11">Laundry</h3>
                    <h3 class="mt-11">Ironing</h3>
                    <h3 class="mt-10">Steam Mapping Kitchen floor</h3>
                    <h3 class="mt-10">Fridge cleaning</h3>
                    <h3 class="mt-11">Oven cleaning</h3>
                    <h3 class="mt-11">Microwave cleaning</h3>
                    <h3 class="mt-11">Washing Marchive</h3>
                    <h3 class="mt-11">Heavy degreasing of hood and hob</h3>
                    <h3 class="mt-10">Others</h3>
                    <h3 class="mt-10">Pets</h3>
                    <h3 class="mt-10">Hours Cleaning Required</h3>
                    <h3 class="mt-11">hours</h3>
                    <h3 class="mt-11">Until job is completed</h3>
                    <h3 class="mt-10">Cleaning Service Provided</h3>
                    <h3 class="mt-10">Note</h3>
                    <h3 class="mt-10">Type your comment here</h3>
                    <h3 class="mt-11">ADD IMAGE</h3>
                    <h3 class="mt-11">Choose file</h3>
                    <h3 class="mt-11">Up to 10 mb</h3>
                    <h3 class="mt-11">NEXT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SELECT THE TYPE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="No. of Bathrooms" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="No. of Bedrooms" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SIZE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Below" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SQT" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="More than" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Don't know" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ADDITIONAL SERVICE?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Laundry" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Ironing" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Steam Mapping Kitchen floor" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Fridge cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Oven cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Microwave cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Washing Marchive" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Heavy degreasing of hood and hob" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Others" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pets" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Hours Cleaning Required" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Until job is completed" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning Service Provided" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Type your comment here" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ADD IMAGE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Choose file" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Up to 10 mb" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>