<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Cleaning</h3>
                    <h3 class="mt-10">DATE & TIME</h3>
                    <h3 class="mt-10">Date</h3>
                    <h3 class="mt-11">Time</h3>
                    <h3 class="mt-11">PREFERRED TIME RANGE</h3>
                    <h3 class="mt-11">Select hours</h3>
                    <h3 class="mt-10">hours</h3>
                    <h3 class="mt-10">Start</h3>
                    <h3 class="mt-10">End</h3>
                    <h3 class="mt-10">ASAP</h3>
                    <h3 class="mt-11">ADD LOCATION</h3>
                    <h3 class="mt-11">Search location name</h3>
                    <h3 class="mt-10">Favorite place</h3>
                    <h3 class="mt-10">Postal Code</h3>
                    <h3 class="mt-11">Floor/Unit</h3>
                    <h3 class="mt-11">Building</h3>
                    <h3 class="mt-11">Street</h3>
                    <h3 class="mt-11">NEXT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Cleaning" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="DATE & TIME" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Date" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Time" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PREFERRED TIME RANGE" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Select hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="hours" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Start" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="End" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ASAP" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="ADD LOCATION" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Search location name" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Favorite place" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Postal Code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Floor/Unit" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Building" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Street" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="NEXT" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>