<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Activity</h3>
                    <h3 class="mt-10">Review your bidding activity</h3>
                    <h3 class="mt-10">Most recent activity</h3>
                    <h3 class="mt-10">Post</h3>
                    <h3 class="mt-11">Bid</h3>
                    <h3 class="mt-11">Accepted</h3>
                    <h3 class="mt-11">Complete</h3>
                    <h3 class="mt-11">Repair - Power Sockets - Switches</h3>
                    <h3 class="mt-10">Detail</h3>
                    <h3 class="mt-10">Completed</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Activity" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Review your bidding activity" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Most recent activity" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Post" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Bid" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Accepted" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Complete" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Repair - Power Sockets - Switches" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Detail" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Completed" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>