<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Sorry!</h3>
                    <h3 class="mt-10">Our service providers seems busy</h3>
                    <h3 class="mt-10">What else can you do?</h3>
                    <h4 class="mt-7">Use landmarks that providers can recognise for your request.</h4>
                    <h4 class="mt-7">Use 'Notes to service provider' to help drivers identify your location.</h4>
                    <h3 class="mt-8">BACK TO BOOK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Sorry!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Our service providers seems busy" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="What else can you do?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Use landmarks that providers can recognise for your request." required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Use 'Notes to service provider' to help drivers identify your location." required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="BACK TO BOOK" required></v-text-field>
                 </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>