<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Provider has declined your request</h3>
                    <h3 class="mt-10">Please try another provider</h3>
                    <h3 class="mt-10">Electrical Repaired</h3>
                    <h3 class="mt-10">TRY ANOTHER</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Provider has declined your request" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Please try another provider" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Electrical Repaired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="TRY ANOTHER" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>