<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">OD - PAY</h3>
                    <h3 class="mt-10">Code</h3>
                    <h3 class="mt-10">Pay to phone number</h3>
                    <h3 class="mt-10">Enter name or phone number</h3>
                    <h3 class="mt-10">RECENT</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OD - PAY" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Pay to phone number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter name or phone number" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="RECENT" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>