<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Enter Pin to continue</h3>
                    <h3 class="mt-10">Please enter your 6 digit pin</h3>
                    <h3 class="mt-10">change</h3>
                    <h3 class="mt-10">Forget Password?</h3>
                    <h3 class="mt-11">CONFIRM</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                   <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Enter Pin to continue" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Please enter your 6 digit pin" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="change" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Forget Password?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CONFIRM" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>