<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h4 class="mt-3">Show one of the codes below to the servicer to complete your payment</h4>
                    <h3 class="mt-6">Maximum Payment</h3>
                    <h3 class="mt-11">Oh no, code has expired</h3>
                    <h3 class="mt-11">Please renew code and continue payment</h3>
                    <h3 class="mt-11">RENEW CODE</h3>
                    <h3 class="mt-11">Note</h3>
                    <h3 class="mt-10">All your transaction are secure and fast. </h3>
                    <h3 class="mt-10">By continuing your</h3>               
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Show one of the codes below to the servicer to complete your payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Maximum Payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Oh no, code has expired" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Please renew code and continue payment" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="RENEW CODE" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Note" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="All your transaction are secure and fast. " required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="By continuing your" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>