<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Request money</h3>
                    <h3 class="mt-10">Request money with anyone to your account</h3>
                    <h3 class="mt-10">Ask sender to scan QR Code</h3>
                    <h3 class="mt-10">SEND A LINK TO REQUEST MONEY</h3>            
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Request money" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Request money with anyone to your account" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Ask sender to scan QR Code" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="SEND A LINK TO REQUEST MONEY" required></v-text-field>               
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>