<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Skype</h3>
                    <h3 class="mt-10">Inbox</h3>
                    <h3 class="mt-10">Message</h3>
                    <h3 class="mt-11">Twitter</h3>
                    <h3 class="mt-10">Copy</h3>
                    <h3 class="mt-11">Save to file</h3>
                    <h3 class="mt-10">More</h3>   
                    <h3 class="mt-10">CANCEL</h3>               
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Skype" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Inbox" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Message" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Twitter" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Copy" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Save to file" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="More" required></v-text-field>        
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CANCEL" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>