<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>

                    <h3 class="mt-5">Welcome Od Tasker</h3>
                    <h3 class="mt-8">
                        Welcome to OD Tasker App, this is ON
                        Demand lifestyle service for your comfort
                    </h3>
                    <h3 class="mt-8">Log In to continue this apps</h3>
                    <h3 class="mt-9">PHONE NUMBER OR EMAIL</h3>
                    <h3 class="mt-10">Your phone number or email</h3>
                    <h3 class="mt-10">PASSWORD</h3>
                    <h3 class="mt-10">Forget Password?</h3>
                    <h3 class="mt-11">Your password</h3>
                    <h3 class="mt-11">Or don't have account? Sign Up now</h3>
                    <h3 class="mt-10">OR LOG IN WITH:</h3>
                    <h3 class="mt-10">LOG IN</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Welcome Od Tasker" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Welcome to OD Tasker App, this is ON
                        Demand lifestyle service for your comfort" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Log In to continue this apps" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PHONE NUMBER OR EMAIL" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your phone number or email" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="PASSWORD" required></v-text-field>
                     <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Forget Password?" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your password" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Or don't have account? Sign Up now" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="OR LOG IN WITH:" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="LOG IN" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>