<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">Special Package</h3>
                    <h4 class="mt-11">Oops, Sorry no special package from this Tasker!</h4>
                    <h3 class="mt-11">BACK</h3>
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>                    
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Special Package" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Oops, Sorry no special package from this Tasker!" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="BACK" required></v-text-field>
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>