<template>

    <v-container>
        <h3 class="mb-3">Please Enter Corresponding Malayalam</h3>
        <v-row no-gutters>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>Engish</h2>
                    <h3 class="mt-5">minutes</h3>
                    <h3 class="mt-10">Track Provider</h3>
                    <h3 class="mt-10">Provider coordinate point</h3>
                    <h3 class="mt-10">CANCEL</h3>               
                </div>
            </v-col>
            <v-col>
                <div class="pa-2" outlined tile>
                    <h2>മലയാളം</h2>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="minutes" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Track Provider" required></v-text-field>
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Provider coordinate point" required></v-text-field>  
                    <v-text-field v-model="name" :counter="10" :rules="nameRules" label="CANCEL" required></v-text-field>        
                </div>
            </v-col>
        </v-row>
         <div class="my-2">
        <v-btn large color="teal accent-3">Submit</v-btn>
      </div>
    </v-container>
</template>