 <template>
    <div class="mx-8 my-7">
        <b-row class="mt-6">
            <b-col class="p-0 m-0" cols="3"></b-col>
            <b-col class="p-0 m-0" cols="6">
                <template class="ml-12">
                    <v-card class="p-1 px-6 pt-6 pb-8 my-12">
                        <h3 class="text-center">SIGN UP</h3>
                        <hr class="mx-8 mt-2 mb-4">
                         <v-text-field
                            v-model="mno"
                            :rules="mnoRules"
                            label="Mobile number"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="username"
                            :rules="usernameRules"
                            label="Username"
                            required
                        ></v-text-field>
                        <v-text-field
                            v-model="password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            label="Password"
                            hint="At least 8 characters"
                            counter
                            @click:append="show1 = !show1"
                        ></v-text-field>
                         <v-text-field
                            v-model="password1"
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required, rules.min]"
                            :type="show1 ? 'text' : 'password'"
                            name="input-10-1"
                            label="Re-enter Password"
                            hint="At least 8 characters"
                            counter
                            @click:append="show1 = !show1"
                        ></v-text-field>
                        <b-row class="py-0">
                            <b-col cols="3">
                            </b-col>
                            <b-col>
                                <v-btn depressed color="success" class="ml-6 mt-1">Create account</v-btn>
                            </b-col>
                        </b-row>
                        <a class="text-style" @click="navigate()">Sign Up using Email id?</a>
                    </v-card>
                </template>
            </b-col>
            <b-col class="p-0 m-0" cols="3"></b-col>
        </b-row>

    </div>
</template>

<script>
  export default {
    data: () => ({
      mno: '',
      mnoRules: [
        v => !!v || 'Mobile number is required',
        v => v.length == 10 || 'Invalid number',
      ],
      username: '',
      usernameRules: [
        v => !!v || 'Username is required',
        v => v.length >= 4 || 'Min 4 characters required',
        v => v.length <= 12 || 'Max 12 characters only',
      ],
      show1: false,
      show2: false,
        password: '',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
        },
    }),
    methods: {
        navigate() {
            this.$router.push('/signup')
        },
    }
  }
</script>

<style>

    .text-style{
        color: black !important;
        margin: 1% 0 0 32%;
    }

</style>

