<template>
    <div class="text-center">

        <img src="../assets/Group 753.png" class="mt-10">
        <h2>Staff Login </h2>
         <v-row no-gutters>
            <v-col>
      
            </v-col>
            <v-col>
                    <v-text-field v-model="email" :rules="emailRules" label="Username" required></v-text-field>
                     <v-text-field v-model="Password" :rules="emailRules" label="Password" required></v-text-field>
                     <div class="my-2">
        <v-btn color="success">Login</v-btn>
        <div v-on:click="navigate()" >
                        <h4 class="mt-4" style="cursor:pointer"> Login with OTP </h4>
                    </div>
                       <div v-on:click="forgotpassword()" >
                    <p class="text--disabled mt-2" style="cursor:pointer">Forgot Password?</p>
                    </div>
      </div>
            </v-col>
               <v-col>
       
            </v-col>
        </v-row>

    </div>

</template>
<script>
    export default {

        methods: {
            navigate() {
                this.$router.push('/otplogin')
            },
              forgotpassword() {
                this.$router.push('/fpasswordmsg')
            }
        }
    }
</script>