<template>

    <v-container>
        <h2 class="text-center mt-5 mb-4"> Call center staff list</h2>
        <div v-on:click="createstaff()">
            <v-btn absolute dark fab top left color="info" class="marr ml-4 mb-2">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </div>
        <template> 
            <v-card class="mt-10 px-8 pb-5 mx-6">
                <v-card-title class="mb-4">
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
                </v-card-title>
                <!-- <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table> -->
                 <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Date of join</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody class="mt-5">
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td>
                                <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div>
                            </td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td> <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div></td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike</td>
                            <td>@mdo</td>
                            <td>24/03/19</td>
                            <td> <div v-on:click="editcoupon()"><img src="../assets/pen-solid.svg" alt="" class="siz">
                                </div></td>
                            <td><img src="../assets/delete-24px.svg" alt="" class="siz"></td>
                        </tr>

                    </tbody>

                </table>
            </v-card>
        </template>
        
    </v-container>
</template>

<style>
    .siz {
        width: 20px;
        margin-left: 5px;
    }
</style>

<script>
    export default {
        data() {
            return {
                search: '',
                headers: [{
                        text: 'Sl No',
                        align: 'start',
                        filterable: false,
                        value: 'name',
                    },
                    {
                        text: 'Name',
                        value: 'calories'
                    },
                    {
                        text: 'Employee ID',
                        value: 'fat'
                    },
                    {
                        text: 'Date of join',
                        value: 'carbs'
                    },
                    {
                        text: 'Edit',
                        value: 'protein'
                    },
                    {
                        text: 'Remove',
                        value: 'remove'
                    },
                   
                ],
                desserts: [{
                        name: '1',
                        calories: "john doe",
                        fat: 6567890,
                        carbs: 24/3/19,
                        protein: 'edit',
                        remove:'remove',
                     
                    },
                    {
                       name: '2',
                        calories: "john doe",
                        fat: 6567890,
                        carbs: 24/3/19,
                       protein: 'edit',
                        remove:'remove',
                     
                    },
                    {
                    name: '3',
                        calories: "john doe",
                        fat: 6567890,
                        carbs: 24/3/19,
                      protein: 'edit',
                        remove:'remove',
                      
                    },
                    {
                    name: '4',
                        calories: "john doe",
                        fat: 6567890,
                        carbs: 24/3/19,
                     protein: 'edit',
                        remove:'remove',
             
                    },
                    {
                        name: '5',
                        calories: 'Gingerbread',
            
                       fat: 6567890,
                        carbs: 24/3/19,
                         protein: 'edit',
                        remove:'remove',
                    
                    },
              
                ],
            }
        },
        methods: {
            createstaff() {
                this.$router.push('/createstaff')
            },
              forgotpassword() {
                this.$router.push('/fpasswordmsg')
            }
        }
    }
</script>
<style>
    .marr {
        margin-top: 70px;
    }
    td{
        padding: 1% !important;
    }
</style>
