<template>
    <div class="text-center">

        <img src="../assets/Group 753.png" class="mt-10">
        <h2>Super Admin Login </h2>
        <v-row no-gutters>
            <v-col>

            </v-col>
            <v-col>
                <form>
                <v-text-field v-model="username" :rules="emailRules" label="Username" required></v-text-field>
                <v-text-field v-model="Password" :rules="emailRules" label="Password" required></v-text-field>
                <div class="my-2">
                    <v-btn color="success" v-on:click="login()" >Login</v-btn>
                    <div v-on:click="$router.push('/otplogin')">
                        <h4 class="mt-4" style="cursor: pointer"> Login with OTP </h4>
                    </div>
                       <div v-on:click="$router.push('/fpasswordmsg')">
                    <p class="text--disabled mt-2" style="cursor: pointer">Forgot Password?</p>
                    </div>

                </div>
                </form>
            </v-col>
            <v-col>

            </v-col>
        </v-row>

    </div>

</template>
<script>
/* eslint-disable no-console */
import axios from 'axios';
    export default {
        data() {
            return{
                username:"",
                password:""
            }
        },
        
        methods: {
            login() {
                console.log(this.username);
                
                axios.post('http://127.0.0.1:8000/api/token/', {
                    username: this.username,
                    password: this.password,
                })
                .then(resp => {
                    
                this.token = resp.data.token;
                console.log(this.token)
                localStorage.setItem('user-token', resp.data.token)
                })
                // eslint-disable-next-line no-unused-vars
                .catch(err => {
                    localStorage.removeItem('user-token')
                })
            },
        }
    }
</script>