<template>
    <div>
        <h2 class="text-center mt-7">Terms and Conditions</h2>
        <hr class="ml-12 mr-12 mt-2">    
        <h4 class="text-left ml-10 mt-10">Define Terms & Conditions</h4>
        <hr class="w-75 ml-10 mt-2">
        <div class="ml-10">
            <template>
                <div id="app">
                    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                </div>
            </template>
        </div>
        <h4 class="text-left ml-10 mt-8">Define Policies</h4>
        <hr class="w-75 ml-10 mt-2">
        <div class="ml-10">
            <template>
                <div id="app">
                    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                </div>
            </template>
        </div>
        <h4 class="text-left ml-10 mt-8">Certificates</h4>
        <hr class="w-75 ml-10 mt-2">
        <v-card class="ml-10 w-75 py-4 px-4 mb-6 mt-5" outlined>
        <ol class="ml-4">
            <li>
                <b-row class="mt-0 mx-2">
                    <b-col class="p-0 m-0 mt-3 ml-2" cols="10"></b-col>
                    <b-col class="p-0 m-0 ml-5"><b-button size="sm" variant="danger" class="py-0 px-2 mt-3">Delete</b-button></b-col>
                </b-row>
            </li>
            <li>
                <b-row class="mt-0 mx-2">
                    <b-col class="p-0 m-0 mt-3 ml-2" cols="10"></b-col>
                    <b-col class="p-0 m-0 ml-5"><b-button size="sm" variant="danger" class="py-0 px-2 mt-3">Delete</b-button></b-col>
                </b-row>
            </li>
            <li>
                <b-row class="mt-0 mx-2">
                    <b-col class="p-0 m-0 mt-3 ml-2" cols="10"></b-col>
                    <b-col class="p-0 m-0 ml-5"><b-button size="sm" variant="danger" class="py-0 px-2 mt-3">Delete</b-button></b-col>
                </b-row>
            </li>
            <li>
                <b-row class="mt-0 mx-2">
                    <b-col class="p-0 m-0 mt-3 ml-2" cols="10"></b-col>
                    <b-col class="p-0 m-0 ml-5"><b-button size="sm" variant="danger" class="py-0 px-2 mt-3">Delete</b-button></b-col>
                </b-row>
            </li>
        </ol>
        </v-card>
        <h4 class="text-left ml-10 mt-8">Others</h4>
        <hr class="w-75 ml-10 mt-2">
        <div class="ml-8">
            <template>
                <b-row class="mt-0 mx-2">
                    <b-col class="p-0 m-0" cols="8">
                        <b-form-textarea
                        id="textarea-auto-height"
                        placeholder="Others...."
                        rows="3"
                        max-rows="6"
                        class="mt-2 mb-4"
                         >
                        </b-form-textarea>
                    </b-col>
                    <b-col class="p-0 m-0 ml-5"><b-button pill variant="success" class="mt-7">Upload file</b-button></b-col>
                </b-row>
                <b-row class="mt-0 mx-2 mb-6">
                    <b-col class="p-0 m-0" cols="8">
                            <b-form-file id="file-default"></b-form-file>
                    </b-col>
                </b-row>
            </template>
            <b-row class="mt-0 mx-2 mb-6">
                <b-col class="p-0 m-0" cols="2"></b-col>
                <b-col class="p-0 m-0" cols="5"><b-button block variant="success" class="mt-7">Update</b-button></b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: 'app',
        data() {
            return {
                editor: ClassicEditor,
                editorData: '<p>Rich-text editor content.</p>',
                editorConfig: {
                    // The configuration of the rich-text editor.
                }
            };
        }
    }
</script>

<style>
  .ck-editor__editable {
    min-height: 200px;
    max-height: 250px;
    width: 77.5%;
   }
  .ck-editor__top {
   max-width: 77.5%;
   }
</style>