<template>

  <v-container>
    <v-row no-gutters>

      <v-col class="mt-5">
        <h4 class="mrl mt-4">Enter User ID :</h4>
      </v-col>
      <v-col class="mt-6">
        <v-text-field label="Enter User ID" outlined></v-text-field>
      </v-col>
      <v-col>
        <template>
          <v-row align="center">
            <v-col class="text-center" cols="12" sm="4">
              <div class="my-2 ml-7 mt-6">
                <v-btn small v-on:click="isHidden = !isHidden">Fetch</v-btn>
              </div>

            </v-col>


          </v-row>
        </template>
      </v-col>
    </v-row>
    <div  v-if="!isHidden">
      <h2 class="text-center">Transaction Details</h2>
      <v-card class="mt-5 mb-5 mx-6 px-8 pb-4">
        <v-card-title>
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table>
      </v-card>
    </div>
  </v-container>

</template>

<style>
  .mrl {
    margin-left: 120px;
  }
</style>

<script>
  export default {
    data() {
      return {
        isHidden: true,
        search: '',
        headers: [{
            text: 'Sl No',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          {
            text: 'Date',
            value: 'calories'
          },
          {
            text: 'Service',
            value: 'fat'
          },
          {
            text: 'Transaction ID',
            value: 'carbs'
          },
          {
            text: 'Status',
            value: 'protein'
          },
        ],
        desserts: [{
            name: '1',
            calories: "15-nov-12",
            fat: 6.0,
            carbs: 24,
            protein: "done"

          },
          {
            name: '2',
            calories: "15-nov-12",
            fat: 9.0,
            carbs: 37,
            protein: "done",

          },
          {
            name: '3',
            calories: "15-nov-12",
            fat: 16.0,
            carbs: 23,
            protein: "pending"

          },
          {
            name: '4',
            calories: "15-nov-12",
            fat: 3.7,
            carbs: 67,
            protein: "failed"
          },
          {
            name: '10',
            calories: "15-nov-12",
            fat: 16.0,
            carbs: 49,
            protein: "done"
          },
          {
            name: '5',
            calories: "15-nov-12",
            fat: 0.0,
            carbs: 94,
            protein: "done"
          },
          {
            name: '6',
            calories: "15-nov-12",
            fat: 0.2,
            carbs: 98,
            protein: "failed"
          },
          {
            name: '7',
            calories: "15-nov-12",
            fat: 3.2,
            carbs: 87,
            protein: "done"
          },
          {
            name: '8',
            calories: "15-nov-12",
            fat: 25.0,
            carbs: 51,
            protein: "done"
          },
          {
            name: '9',
            calories: "15-nov-12",
            fat: 26.0,
            carbs: 65,
            protein: "done"
          },
        ],
      }
    },
  }
</script>