<template>

    <div>
        <div class="">
            <h2 class="text-center mt-5">Vendor Account Details</h2>
            <v-row no-gutters>
                <v-col cols="3">
                    <div class="pa-2 ml-5" outlined tile>


                        <h5 class="mt-5">Address</h5>

                        <h5 class="dmar">Date of Birth</h5>
                        <h5 class="mt-10">Last service</h5>
                        <h5 class="mt-10">Status</h5>
                    </div>
                </v-col>
                <v-col>
                    <div class="pa-2" outlined tile>
                        <p class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus molestias
                            illo repellendus aliquid labore culpa. Minima,
                            dicta sed asperiores dolorum nobis incidunt quas rem temporibus rerum enim quae dignissimos
                            minus.</p>
                        <p class="mt-10">24/03/14</p>
                        <p class="mt-10">Electrician</p>
                     
                        <p class="mt-10">Done</p>
                       

                    </div>
                </v-col>
            </v-row>

        </div>

        <v-navigation-drawer v-model="drawerRight" app clipped right>
            <v-list dense>
                <v-list-item @click.stop="right = !right">
                    <!-- <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action> -->
                    <v-list-item-content>

                        <!-- <img src="../assets/hum.jpeg" class="prof mt-5">
                        <h4 class="text-center mt-5">Vrinda Vinod</h4>

                           <h5 class="mt-5">Services :</h5>
                            <h6 class="mt-1">Plumber</h6> -->
                        <v-card class="mx-auto">
                            <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="250px" width="230px"
                                dark>
                                <v-row class="fill-height">



                                    <v-card-title class="white--text ">
                                        <div class="nametag">Ali Conners</div>
                                    </v-card-title>
                                    
                                </v-row>
                            </v-img>

                            <v-list two-line>
                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon color="indigo">mdi-message-text</v-icon>
                                    </v-list-item-icon>

                                    <v-list-item-content>
                                        <h6 class="pos">Services</h6>
                                    </v-list-item-content>
                                </v-list-item>

                                <ul class="ml-3">
                                    <li>Electrician</li>
                                    <li class="mt-2">Plumber</li>
                                    <li class="mt-2">Electrician</li>
                                </ul>


                            </v-list>
                            <v-rating
      v-model="rating"
      background-color="green lighten-3"
      color="green"
    ></v-rating>

                        </v-card>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>

</template>

<style>
    .prof {
        width: 100px;
        border-radius: 15px;
    }

    .profs {
        width: 150px;

    }

    .text {
        margin: 0 auto;
    }

    .nametag {
        margin-top: 200px;
        margin-left: 60px;
    }

    .pos {
        position: relative;
        bottom: 6px;
    }

    .dmar {
        margin-top: 90px;
    }
</style>

<script>
  export default {
    data: () => ({
      rating: 4,
    }),
  }
</script>