<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app class="colk white--text bg">
      <v-list dense>
        <v-list-item>

          <v-img class="logo-img" contain height="100px" width="100px" src="./assets/Group 753.png" />

        </v-list-item>
        <!-- superadmin -->
        <h5 class="main-head ml-12 mt-5">Super Admin</h5>
        <v-list-item link to="/superadminpage">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">superadmin login</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/createadmin">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Create admin</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/adminlist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Admin list</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/transactiondetails">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">transactiondetails</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/vendoraccdetails">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">vendoraccdetails</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/createstaff">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">create staff</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/stafflist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">staff list</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/authenticator">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">authenticator</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/couponlist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">couponlist</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/createcoupon">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">createcoupon</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/editcoupon">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">editcoupon</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/feedback">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">feedback</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/api">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">api</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/invoice">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Invoice</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/tandc">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Terms & Conditions</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
         <v-list-item link to="/createuseraccount">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Create User Account</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/create-vendor-account">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Create Vendor Account</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- admin -->
        <h5 class="main-head ml-12 mt-5"> Admin Pages</h5>
        <v-list-item link to="/adminlogin">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">adminlogin</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/transactiondetails">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">transactiondetails</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/vendoraccdetails">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">vendoraccdetails</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/createstaff">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">create staff</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/stafflist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">staff list</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/authenticator">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">authenticator</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/couponlist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">couponlist</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/createcoupon">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">createcoupon</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/editcoupon">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">editcoupon</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/feedback">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">feedback</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/invoice">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Invoice</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/tandc">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Terms & Conditions</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
         <v-list-item link to="/createuseraccount">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Create User Account</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/create-vendor-account">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Create Vendor Account</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- staff pages -->
        <h5 class="main-head ml-12 mt-5"> Staff Pages</h5>
        <v-list-item link to="/stafflogin">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">stafflogin</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/vendoraccdetails">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">vendoraccdetails</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/authenticator">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">authenticator</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/couponlist">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">couponlist</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/feedback">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">feedback</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/invoice">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Invoice</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!--Error pages-->
        <h5 class="main-head ml-12 mt-5"> Error pages</h5>
        <v-list-item link to="/error502">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error502</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error404">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error404</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error400">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error400</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error401">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error401</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error403">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error403</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error500">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error500</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error408">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error408</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error501">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error501</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error502">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error502</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/error503">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">error503</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


        <!--Common pages-->
        <h5 class="main-head ml-12 mt-5"> Common pages</h5>
        <v-list-item link to="/emailver">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">emailver</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/otplogin">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">otplogin</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/fpasswordmsg">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">fpasswordmsg</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/signup">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Sign up</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/signup-mobile">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Sign up - Mobile no</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="changepass">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">changepass</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <!-- Components-->
        <h5 class="main-head ml-12 mt-5"> Components</h5>

        <v-list-item link to="/home">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/form">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">form</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/formd">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Dynamic form</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/timer">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">timer</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/calender">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Calender</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/tab">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">tab</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/table">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Tables</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/dash">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">dash</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/dropzone">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Dropzone</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/wiz">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Wizard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/gmap">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Gmap</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/button">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Button</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/imgupload">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Image upload</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/dropdown">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Dropdown</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <!-- Translation Pages-->
        <h5 class="main-head ml-12 mt-5"> Translation Pages</h5>

        <v-list-item link to="/language">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">language</v-list-item-title>
          </v-list-item-content>
        </v-list-item>       

        <v-list-item link to="/pg9">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 9</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg10">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 10</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg11">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 11</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg12">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 12</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg13">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 13</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg14">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 14</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg15">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 15</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg16">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 16</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg17">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 17</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg18">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 18</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg19">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 19</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg20">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 20</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg21">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 21</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg22">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 22</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg25">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 25</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg26">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 26</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg27">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 27</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg28">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 28</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg29">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 29</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg33">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 33</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg34">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 34</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg40">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 40</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg41">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 41</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg42">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 42</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg49">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 49</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg50">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 50</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg51">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 51</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg52">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 52</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg53">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 53</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg54">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 54</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg55">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 55</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg56">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 56</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg57">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 57</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg58">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 58</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg59">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 59</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg60">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 60</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg61">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 61</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg63">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 63</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg64">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 64</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg65">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 65</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg66">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 66</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg67">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 67</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg68">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 68</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg69">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 69</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg70">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 70</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg71">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 71</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg72">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 72</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg73">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 73</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg74">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 74</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg75">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 75</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg76">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 76</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg77">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 77</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg78">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 78</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg79">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 79</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg80">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 80</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg81">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 81</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg82">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 82</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg83">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 83</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg85">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 85</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


        <v-list-item link to="/pg96">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 96</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg97">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 97</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg98">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 98</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg99">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 99</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg100">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 100</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg101">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 101</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg102">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 102</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg103">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 103</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg104">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 104</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg108">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 108</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg109">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 109</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg110">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 110</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg111">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 111</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg112">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 112</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg113">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 113</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg114">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 114</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg115">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 115</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg116">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 116</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg117">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 117</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg118">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 118</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg119">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 119</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg132">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 132</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg141">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 141</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg143">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 143</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg144">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 144</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg147">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 147</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg148">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 148</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg149">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 149</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg150">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 150</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg151">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 151</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg152">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 152</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg153">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 153</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg154">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 154</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg155">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 155</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg156">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 156</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg157">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 157</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg158">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 158</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg159">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 159</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg160">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 160</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg168">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 168</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg169">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 169</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg170">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 170</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg171">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 171</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg172">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 172</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg173">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 173</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg174">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 174</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg175">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 175</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg176">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 176</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg178">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 178</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


        <v-list-item link to="/pg180">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 180</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg181">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 181</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg182">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 182</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg183">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 183</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg184">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 184</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg185">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 185</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg186">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 186</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg187">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 187</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg188">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 188</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg189">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 189</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg190">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 190</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg191">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 191</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg192">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 192</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg193">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 193</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg194">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 194</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg195">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 195</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg214">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 214</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg217">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 217</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg218">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 218</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg220">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 220</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg221">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 221</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg222">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 222</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg223">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 223</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg224">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 224</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg225">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 225</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/pg238">
          <v-list-item-action>
            <v-icon class=" white--text">mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class=" white--text">Page 238</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


      </v-list>
    </v-navigation-drawer>




    <v-app-bar app clipped-right class="grey darken-4" dark>
      <v-app-bar-nav-icon class="bc" @click.stop="drawer = !drawer" />
      <v-toolbar-title class="bc">Dashboard</v-toolbar-title>
      <v-spacer />
      <div class="my-2" v-on:click="navigate()">
        <b-nav-form @submit.prevent="logout()" v-if="token !== null">
          <v-btn small color="success" type="submit">Logout</v-btn>
        </b-nav-form>
      </div>


    </v-app-bar>
    <v-content>
      <router-view />
    </v-content>
    <v-footer color="grey darken-4" app>
      <span class="white--text">&copy; 2020 ODSPOT</span>
    </v-footer>
  </v-app>
</template>
<script>
  export default {
    props: {
      source: String,
      //  url:"http://127.0.0.1:8000/"
    },

    data: () => ({
      drawer: null,
      drawerRight: null,
      right: false,
      left: false,
      token: localStorage.getItem('user-token') || null,
      
    }),
    methods: {
      navigate() {
        this.$router.push('/adminlogin')
      },
      logout() {
        localStorage.removeItem('user-token');
        this.token = null;
      },
    }


  }
</script>
<style>
  .bc {
    color: white !important;
  }

  .colk {
    background-image: linear-gradient(#4A9866, #45C180, #43CC87);
  }

  .bg {
    /* The image used */
    background-image: url("assets/sidebar.jpg");

    /* Full height */
    height: 100%;
    opacity: 1;

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .main-head {
    color: white;

  }
</style>